<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>运动计划</title>
        <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
        <style type="text/css">
            body{
                padding-right: 0 !important;
            }
            .el-table::before{
                height: 0px;
            }
            .myflex{
                display:flex;
            }
            .left{
                width:65%;
                display:flex;
                flex-wrap: wrap;
                align-content: flex-start;
                border-right: 1px solid #DCDFE6;
            }
            .right{
                width:35%;
                padding:0 35px;
                
            }
            .plan{
                padding:0 30px;
                width:100%;
                height: 450px;
                border-bottom: 1px solid #DCDFE6;
            }
            .mainpart{
                width: 100%;
                height:400px;
                display:flex;
            }
            .mainleft{
                width: 58%;
            }
            .mainright{
                width: 42%;
                padding: 0 31px;
            }
            .el-progress--circle .el-progress__text, .el-progress--dashboard .el-progress__text{
                top: 36%;
            }
            h3{
                display: inline-block;
                margin: 20px 0;
            }
            h4{
                margin: 15px;
            }
            .recommend{
                border-top: 1px solid #ffffff;
                padding: 0 30px;
                width: 100%;
            }
            .time{
                font-size: 17px;
                font-weight: bold;
                margin: 0 5px;
            }
            .el-input__inner{
               border: 1.5px solid #ccc;
               border-radius: 28px;
            }
            .bottom {
                margin-top: 13px;
                line-height: 12px;
              }
            
              .button {
                padding: 0;
                float: right;
              }
            
              .image {
                width: 189px;
                height: 142px;
                display: block;
              }
            
              .clearfix:before,
              .clearfix:after {
                  display: table;
                  content: "";
              }
              
              .clearfix:after {
                  clear: both
              }
              .rightup{
                  height: 450px;
              }
            .tdleft{
                font-weight: bold;
                width: 200px;
            }
            .tdleft2{
                font-weight: bold;
                width: 150px;
            }
            .el-message-box__wrapper{
                bottom: 680px;
            }
        </style>
    </head>
    <body>
        <div id="app">
           <div class="myflex">
                <div class="left">
                    <div class="plan">
                        <div class="mainpart">
                            <div class="mainleft">
                                <h3>运动计划</h3>
                                <el-card class="box-card" shadow="hover" :key="mykey">
                                    <el-table
                                        :data="planlist"
                                        stripe
                                        style="width: 100%;margin-bottom: 20px;height: 220px;overflow-y:auto"
                                        :show-header="false"
                                        highlight-current-row
                                        >
                                        <el-table-column
                                          >
                                            <template slot-scope="scope">
                                                <span :style="String(scope.row.isDelect) === '1' ? 'color:#06c05f;':'' ">
                                                  {{  scope.row.content  }}
                                                    <i class="el-icon-check" v-show="String(scope.row.isDelect) === '1' "></i>
                                                </span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                        width="250">
                                          <template slot-scope="scope">

                                              <el-button
                                               type="danger"
                                               size="medium"
                                               icon="el-icon-delete"
                                               :disabled="daymove!=0"
                                               @click="mydel(scope.row)"
                                               style="float: right;margin-left: 12px;"
                                              >
                                                  删除
                                              </el-button>

                                            <el-button
                                              v-show="String(scope.row.isDelect) === '0'"
                                              type="success"
                                              size="medium"
                                              icon="el-icon-circle-check"
                                              :disabled="daymove!=0"
                                              @click="myfinish(scope.row)"
                                              style="float: right"
                                            >
                                                完成
                                            </el-button>

                                          </template>
                                        </el-table-column>
                                      </el-table>
                                      <el-button type="success" plain @click="addplan('select')" :disabled="daymove!=0">+ 添加计划</el-button>
                                      <el-button type="info" plain @click="addplan('write')" :disabled="daymove!=0">+ 自定义计划</el-button>
                                      <el-button type="danger" plain @click="delall" :disabled="daymove!=0">清空计划</el-button>
                                     <el-button type="primary" plain @click="ymfresh">刷新</el-button>
                                </el-card>
                                
                                <el-dialog title="制定运动计划" :visible.sync="sportVisible" width="40%">
                                  <el-form>
                                    <el-form-item label="运动时间" label-width="80px">
                                      <el-time-select
                                          placeholder="起始时间"
                                          v-model="startTime"
                                          :picker-options="{
                                            start: '05:00',
                                            step: '00:15',
                                            end: '23:30'
                                          }">
                                        </el-time-select>
                                        <el-time-select
                                          placeholder="结束时间"
                                          v-model="endTime"
                                          :picker-options="{
                                            start: '05:15',
                                            step: '00:15',
                                            end: '23:45',
                                            minTime: startTime
                                          }">
                                        </el-time-select>
                                    </el-form-item>
                                    <el-form-item label="运动项目" label-width="80px">
                                    <el-select v-model="value2" placeholder="请选择运动项目">
                                        <el-option
                                          v-for="item in alllist"
                                          :key="item.sportName"
                                          :label="item.sportName"
                                          :value="item.sportName">
                                        </el-option>
                                      </el-select>
                                  </el-form-item>
                                  </el-form>
                                  <div slot="footer" class="dialog-footer">
                                    <el-button @click="sportVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="sportchoose('select')">确 定</el-button>
                                  </div>
                                </el-dialog>
                                
                                <el-dialog title="自定义运动计划" :visible.sync="mysportVisible" width="40%">
                                  <el-form>
                                    <el-form-item label="运动时间" label-width="80px">

                                        <el-time-select
                                                placeholder="起始时间"
                                                v-model="value3"
                                                :picker-options="{
                                            start: '05:00',
                                            step: '00:15',
                                            end: '23:30'
                                          }">
                                        </el-time-select>
                                        <el-time-select
                                                placeholder="结束时间"
                                                v-model="value4"
                                                :picker-options="{
                                            start: '05:15',
                                            step: '00:15',
                                            end: '23:45',
                                            minTime: startTime
                                          }">
                                        </el-time-select>
                                    </el-form-item>
                                    <el-form-item label="运动内容" label-width="80px">
                                    <el-input
                                      type="textarea"
                                      :rows="2"
                                      placeholder="请输入运动内容"
                                      v-model="myssport">
                                    </el-input>
                                  </el-form-item>
                                  </el-form>
                                  <div slot="footer" class="dialog-footer">
                                    <el-button @click="mysportVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="sportchoose('my')">确 定</el-button>
                                  </div>
                                </el-dialog>
                                
                            </div> 
                            <div class="mainright">
                                <h3 style="margin-bottom: 0px;">完成情况</h3>
                                <div v-if="notwrite" style="color: red">由于您尚未填写体重信息，我们暂时无法为您提供该服务！</div>
                                <div style="display: flex;justify-content: space-around">
                                    <el-progress type="circle" :format="format" :percentage="mypercent" :width="170" style="margin-top: 70px;"></el-progress>
                                    <div style="display: flex;flex-direction: column;padding-left: 40px;">
                                        <div style="height: 100px;width: 100px;border:5px solid rgb(0, 255, 121);border-radius: 50%;text-align: center;padding: 15px;margin-bottom: 40px;">
                                        已消耗 <h4>{{finish}}</h4> 卡路里
                                        </div>
                                        <div style="height: 100px;width: 100px;border:5px solid rgb(225, 48, 48);border-radius: 50%;text-align: center;padding: 15px;">
                                        待消耗 <h4>{{consume}}</h4>卡路里
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="mydate" style="text-align: center;font-size: 18px;">
                            <i class="el-icon-arrow-left" style="cursor:pointer" @click="subday"></i>
                            <time class="time">{{ year }}/{{month}}/{{day}}</time>
                            <i class="el-icon-arrow-right" style="cursor:pointer" @click="addday"></i>
                        </div>
                         
                    </div>
                    
                    <div class="recommend">

                        <h3>运动科普</h3>
                        <el-input
                                v-model="input"
                                placeholder="搜索"
                                style="float: right;width: 350px;margin: 10px 50px 0 0;"
                                clearable
                                @keyup.enter.native="getnamelist(input)"
                        >
                            <i
                                    slot="suffix"
                                    class="el-input__icon el-icon-search"
                                    style="cursor: pointer;font-size: 17px;"
                                    @click="getnamelist(input)"
                            ></i>
                        </el-input>
                        <div style="display: flex;">
                            <div v-for="(item,index) in showlist" :key="index" style="width: 220px;margin-right: 50px;">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <img :src="item.picture" class="image">
                                    <div style="padding: 14px;">
                                        <span>{{item.sportName}}</span>
                                        <div class="bottom clearfix">
                                            <el-button type="text" class="button" @click="detail(item)">查看详情</el-button>
                                        </div>
                                    </div>
                                </el-card>
                            </div>
                        </div>
                        <div style="height: 200px" v-if="showlist.length==0"><p>尚未搜索到相关运动</p></div>
                        <br>
                        <el-button type="info" plain style="display: block;float: right;margin-right: 50px;" @click="showmore">更多</el-button>
                        <el-button type="primary" plain style="display: block;float: right;margin-right: 50px;" @click="refresh">刷新</el-button>

                        <h3>推荐计划</h3>

                        <div style="display: flex;">
                            <div v-for="(item,index) in showlist2" :key="index" style="width: 220px;margin-right: 50px;">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <img :src="item.des" class="image">
                                    <div style="padding: 14px;">
                                        <span>{{item.title}}</span>
                                        <div class="bottom clearfix">
                                            <el-button type="text" class="button" @click="detail2(item)">查看详情</el-button>
                                        </div>
                                    </div>
                                </el-card>
                            </div>
                        </div>
                        <div style="height: 200px" v-if="showlist2.length==0"><p>尚未搜索到相关计划</p></div>
                        <br>
                        <el-button type="info" plain style="display: block;float: right;margin-right: 50px;" @click="showmore2">更多</el-button>
                        <el-button type="primary" plain style="display: block;float: right;margin:0 50px 30px 0;" @click="refresh2">刷新</el-button>

                        <el-dialog
                                title="查看更多"
                                :visible.sync="moreVisible"
                                width="58%"
                                top="400px"
                        >
                            <div class="mydivflex" style="display: flex;flex-wrap: wrap;justify-content: center;">
                                <div v-for="(item,index) in alllist" :key="index" style="width: 220px;margin:10px 25px;">
                                    <el-card :body-style="{ padding: '0px' }" shadow="hover" style="width: 189px">
                                        <img :src="item.picture" class="image">
                                        <div style="padding: 14px;">
                                            <span>{{item.sportName}}</span>
                                            <div class="bottom clearfix">
                                                <el-button type="text" class="button" @click="detail(item)">查看详情</el-button>
                                            </div>
                                        </div>
                                    </el-card>
                                </div>
                            </div>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="moreVisible = false">取 消</el-button>
                                <el-button type="primary" @click="moreVisible = false">确 定</el-button>
                            </span>
                        </el-dialog>

                        <el-dialog
                                title="查看更多"
                                :visible.sync="moreVisible2"
                                width="58%"
                                top="500px"
                        >
                            <div class="mydivflex" style="display: flex;flex-wrap: wrap;justify-content: center;">
                                <div v-for="(item,index) in alllist2" :key="index" style="width: 220px;margin:10px 25px;">
                                    <el-card :body-style="{ padding: '0px' }" shadow="hover" style="width: 189px">
                                        <img :src="item.des" class="image">
                                        <div style="padding: 14px;">
                                            <span>{{item.title}}</span>
                                            <div class="bottom clearfix">
                                                <el-button type="text" class="button" @click="detail2(item)">查看详情</el-button>
                                            </div>
                                        </div>
                                    </el-card>
                                </div>
                            </div>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="moreVisible2 = false">取 消</el-button>
                                <el-button type="primary" @click="moreVisible2 = false">确 定</el-button>
                            </span>
                        </el-dialog>

                        <el-dialog title="运动详情" :visible.sync="ydVisible" width="30%" top="300px">
                                <div >
                            <img :src="listinfo.picture" class="image" style="margin:20px auto;">
                            <table style="margin:0px auto;font-size: 15px;">
                                <tr>
                                    <td class="tdleft">运动名称</td>
                                    <td>{{listinfo.sportName}}</td>
                                </tr>
                                <tr>
                                    <td class="tdleft">运动类别</td>
                                    <td>{{listinfo.sportCategory}}</td>
                                </tr>
                                <tr>
                                    <td class="tdleft">该运动的强度(千卡/斤/分钟)</td>
                                    <td>{{listinfo.intensity}}</td>
                                </tr>

                            </table>
                                </div>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="ydVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="ydVisible = false">确 定</el-button>
                                </div>
                        </el-dialog>

                        <el-dialog title="计划详情" :visible.sync="ydVisible2" width="30%" top="500px">
                            <div >
                                <img :src="listinfo.des" class="image" style="margin:20px auto;">
                                <table style="margin:0px auto;font-size: 15px;">
                                    <tr>
                                        <td class="tdleft2">计划标题</td>
                                        <td>{{listinfo.title}}</td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft2">计划内容</td>
                                    </tr>
                                    <tr>
                                        <td>{{listinfo.plan1}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{listinfo.plan2}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{listinfo.plan3}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{listinfo.plan4}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{listinfo.plan5}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="ydVisible2 = false">取 消</el-button>
                                <el-button type="primary" @click="ydVisible2 = false">确 定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
                <div class="right">
                    <div class="rightup">
                        <h3>运动后吃点啥</h3>
                        <el-table
                            :data="tableData"
                            stripe
                            style="width: 100%">
                            <el-table-column
                              label="运动"
                              >
                                <template slot-scope="scope">
                                    {{ scope.row.content.slice(14)}}
                                </template>
                            </el-table-column>
                            <el-table-column
                              label="运动时间"
                              >
                                <template slot-scope="scope">
                                    {{ scope.row.content.slice(0,13)}}
                                </template>
                            </el-table-column>
                            <el-table-column
                              label="推荐食物"
                              >
                                <template slot-scope="scope">
                                    {{ scope.row.date}}
                                </template>
                            </el-table-column>
                          </el-table>
                      </div>
                      <div class="rightdown">
                          <h3>运动日历</h3>
                          <el-calendar v-model="value">
                          </el-calendar>
                      </div>
                </div>
           </div>
            
        

        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../../public/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../../public/plugins/element-ui/index.js"></script>

        <script src="../../../public/plugins/axios/axios.min.js"></script>
        <script src="../../../public/js/request.js"></script>
        <script src="../../myapi/sport.js"></script>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        counts: 0,
                        input:'',
                        page: 1,
                        pageSize:5,
                        name:'',
                        mykey: 0,
                        sportData:[],
                        alllist:[],
                        showlist:[],
                        userInfo:{},
                        tableData:[],
                        mysportplan:[],
                        alllist2:[],
                        showlist2:[],
                        index:0,
                        listinfo:{},
                        ydVisible:false,
                        ydVisible2:false,
                        sportVisible:false,
                        mysportVisible:false,
                        startTime: '',
                        endTime: '',
                        mypercent:0,
                      logintype:0,
                      finish:0,
                      allheat:0,
                      consume:0,
                      year :new Date().getFullYear(),
                      month :new Date().getMonth() + 1,
                      day:new Date().getDate(),
                      value: new Date(),
                      pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                            picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                            }
                        }]
                        },
                        value2: '',
                        value3: '',
                        value4: '',
                        daymove:0,
                        myssport:'',
                        planlist:[],
                        userInfo2: {},
                        notwrite:false,
                        moreVisible:false,
                        moreVisible2:false
                    }
                },
                created(){
                    this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
                    this.init()
                    this.init2()
                    this.init3()
                    this.init6()
                },
                mounted() {
                    this.userInfo2 = JSON.parse(localStorage.getItem('userInfo2'))
                    if(this.userInfo2.weight>0){
                        this.allheat=this.userInfo2.weight*7
                    }else {
                        this.allheat=0
                        this.notwrite=true
                    }
                },
                methods: {
                    myfinish(row){
                        myfin(row.sportPlanId).then(res => {
                            if (String(res.code) === '1') {
                                this.init3()
                                this.$message.success('该计划已完成！')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })

                    },
                    subday(){
                      this.daymove--;
                      console.log(this.daymove)
                        this.value.setTime(this.value.getTime() - 3600 * 1000 * 24);
                        this.year=this.value.getFullYear()
                        this.month=this.value.getMonth()+1
                        this.day=this.value.getDate()
                        this.init3()
                    },
                    addday(){
                        this.daymove++;
                        console.log(this.daymove)
                        this.value.setTime(this.value.getTime() + 3600 * 1000 * 24);
                        this.year=this.value.getFullYear()
                        this.month=this.value.getMonth()+1
                        this.day=this.value.getDate()
                        this.init3()
                    },
                    detail(item){
                       this.listinfo=item
                        console.log(this.listinfo)
                       this.ydVisible=true

                    },
                    detail2(item){
                        this.listinfo=item
                        console.log(this.listinfo)
                        this.ydVisible2=true

                    },
                    async mydel(st){
                        this.$confirm('确定要删除该计划吗?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            myplandel(st.sportPlanId).then(res => {
                                if (String(res.code) === '1') {
                                    this.init3()
                                    this.$message.warning('成功删除计划！')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        })

                    },
                    delall(){
                        this.$confirm('确定要清空所有计划吗?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            for (let i = 0; i < this.planlist.length; i++) {
                                myplandel(this.planlist[i].sportPlanId).then(res => {
                                    if (String(res.code) === '1') {
                                        this.init3()
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }
                            this.$message.warning('成功清空计划！')
                            this.init3()
                        })
                    },
                    showmore(){
                        this.moreVisible=true
                    },
                    showmore2(){
                        this.moreVisible2=true
                    },
                    ymfresh(){
                        location.reload()
                    },
                    async sportchoose(data){
                        if(data == 'select'){
                            this.sportVisible = false
                            var context=`${this.startTime} - ${this.endTime}   ${this.value2}`
                            await addplanList(this.userInfo.uid,context).then(res => {
                                if (String(res.code) === '1') {
                                    this.init3()
                                    this.mykey++
                                    this.$message.success('成功添加计划，若未显示请点击刷新按钮！')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }else{
                            this.mysportVisible = false
                            var context=`${this.value3} - ${this.value4}   ${this.myssport}`
                            await addplanList(this.userInfo.uid,context).then(res => {
                                if (String(res.code) === '1') {

                                    this.init3()
                                    this.mykey++
                                    this.$message.success('成功添加计划，若未显示请点击刷新按钮！')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }

                    },
                    async init () {
                        const params = {
                            page: this.page,
                            pageSize: this.pageSize,
                            name: this.input ? this.input : undefined
                        }
                        await getSportList(params).then(res => {
                            if (String(res.code) === '1') {
                                this.sportData = res.data.records|| []
                                this.counts = res.data.total
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async init2(){
                        this.alllist=[]
                        this.showlist=[]
                        await getAllList().then(res => {
                            if (String(res.code) === '1') {
                                this.alllist.push(...res.data)
                                var count=this.alllist.length
                                var ramnum=Math.floor(Math.random()*count)
                                this.showlist.push(this.alllist[ramnum])
                                this.showlist.push(this.alllist[(ramnum+1)%count])
                                this.showlist.push(this.alllist[(ramnum+2)%count])
                                this.showlist.push(this.alllist[(ramnum+3)%count])
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async init3 () {
                        await getplanList(this.userInfo.uid,this.daymove).then(res => {
                            if (String(res.code) === '1') {
                                this.planlist=res.data
                                this.init4()
                                this.init5()
                            }else {
                                console.log("not")
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async init4 () {
                        await getheat(this.planlist).then(res => {
                            if (String(res.code) === '1') {
                                this.finish=res.data
                                if(this.notwrite){
                                    this.finish=0
                                }else {
                                    this.finish=this.finish*this.userInfo2.weight*2
                                    this.consume=this.allheat-this.finish
                                }
                                this.finish=this.finish.toFixed(2)
                                if(this.consume<0){
                                    this.consume=0
                                }
                                this.consume=this.consume.toFixed(2)
                                this.mypercent=(this.allheat-this.consume)*100/this.allheat
                                this.mypercent=this.mypercent.toFixed(0)
                            }else {
                                console.log("not")
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async init5 () {
                        this.tableData=[]
                        for (let i = 0; i < this.planlist.length; i++) {
                            if(this.planlist[i].isDelect==1){
                                let temp=this.planlist[i]
                                let thesport=this.planlist[i].content.slice(14)
                                getrecom(thesport).then(res => {
                                    if (String(res.code) === '1') {
                                        console.log(res.data)
                                        temp.date=res.data
                                    }else {
                                        console.log(res)
                                        temp.date='无'
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                                this.tableData.push(temp)
                            }
                        }
                    },
                    async init6(){
                        this.alllist2=[]
                        this.showlist2=[]
                        await getAllList2().then(res => {
                            if (String(res.code) === '1') {
                                this.alllist2.push(...res.data)
                                var count=this.alllist2.length
                                var ramnum=Math.floor(Math.random()*count)
                                this.showlist2.push(this.alllist2[ramnum])
                                this.showlist2.push(this.alllist2[(ramnum+1)%count])
                                this.showlist2.push(this.alllist2[(ramnum+2)%count])
                                this.showlist2.push(this.alllist2[(ramnum+3)%count])
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async getnamelist(name){
                        if(name==''){
                            this.init2()
                            this.init6()
                        }else{
                            await getAllListname(name).then(res => {
                                if (String(res.code) === '1') {
                                    console.log(res.data)
                                    if(res.data.length>4){
                                        this.showlist=[]
                                        var count=res.data.length
                                        var ramnum=Math.floor(Math.random()*count)
                                        this.showlist.push(res.data[ramnum])
                                        this.showlist.push(res.data[(ramnum+1)%count])
                                        this.showlist.push(res.data[(ramnum+2)%count])
                                        this.showlist.push(res.data[(ramnum+3)%count])
                                    }else{
                                        this.showlist=[]
                                        for(let i=0;i<res.data.length;i++){
                                            this.showlist.push(res.data[i]);
                                        }
                                    }
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                            await getAllListname2(name).then(res => {
                                if (String(res.code) === '1') {
                                    console.log(res.data)
                                    if(res.data.length>4){
                                        this.showlist2=[]
                                        var count=res.data.length
                                        var ramnum=Math.floor(Math.random()*count)
                                        this.showlist2.push(res.data[ramnum])
                                        this.showlist2.push(res.data[(ramnum+1)%count])
                                        this.showlist2.push(res.data[(ramnum+2)%count])
                                        this.showlist2.push(res.data[(ramnum+3)%count])
                                    }else{
                                        this.showlist2=[]
                                        for(let i=0;i<res.data.length;i++){
                                            this.showlist2.push(res.data[i]);
                                        }
                                    }
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }
                    },
                    handleQuery() {
                        this.page = 1;
                        this.init();
                    },
                    handleCurrentChange (val) {
                        this.page = val
                        this.init()
                    },
                    refresh(){
                        this.init2()
                    },
                    refresh2(){
                        this.init6()
                    },
                    async submitex(){
                    },
                    goBack() {
                        window.location.href='../../index.html'
                    },
                    addplan(method){
                        if(method=='select'){
                            this.sportVisible=true
                        }else{
                            this.mysportVisible=true
                        }
                    },
                    format(percentage) {
                        return `已完成${percentage}%`;
                    },

                },
                destroyed(){
                }
            })
        </script>
    </body>
</html>
