<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="renderer" content="webkit" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<title>浏览历史</title>
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css"/>
		<link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
	</head>
	<body>

		

		
		<div class="newspage">
			<div class="clearfix w1240">	
				<div class="fenlei">
					<a href="" class="on">足迹</a><a href="">关注</a><a href="">点赞</a><a href="">清除历史</a>
				</div>
				<div id="app">
					<div class="demo-input-suffix">
						搜索历史记录：
						<div class="block">
							<span class="demonstration">按时间搜</span>
							<el-date-picker
									v-model="value1"
									type="date"
									placeholder="选择日期">
							</el-date-picker>
						</div>
						<div class="block">
							<span class="demonstration">按内容搜</span>
						<el-input
								placeholder="请输入内容"
								prefix-icon="el-icon-search"
								v-model="input2">
						</el-input>
							</div>
					</div>

				</div>
				<ul class="newslist" style="margin-top: 20px">
					<li>
						<a href="">
							<figure><img src="../../assets/img/tu5.jpg" alt="" /></figure>
							<figcaption>
								<h2>刘肱宏本草纲目操</h2>
								<p>
									
										据调查，随着人们对生活品质的追求加大，绿色生态模式更加受到关注。不仅房地产开发的木屋、木别墅受到市场的热捧，旅游景区景点
													
								</p>
								<h3>
									<span class="time">发布时间：2018-09-05</span>
									<span class="view">浏览次数156</span>
								</h3>									
							</figcaption>
						</a>
					</li>
					<li>
						<a href="">
							<figure><img src="../../assets/img/tu2.png" alt="" /></figure>
							<figcaption>
								<h2>养胃小米粥这样做</h2>
								<p>
									
										据调查，随着人们对生活品质的追求加大，绿色生态模式更加受到关注。不仅房地产开发的木屋、木别墅受到市场的热捧，旅游景区景点
													
								</p>
								<h3>
									<span class="time">发布时间：2018-09-05</span>
									<span class="view">浏览次数156</span>
								</h3>									
							</figcaption>
						</a>
					</li>
					<li>
						<a href="">
							<figure><img src="../../assets/img/tu6.jpg" alt="" /></figure>
							<figcaption>
								<h2>秦宇阳三分教学</h2>
								<p>
									
										据调查，随着人们对生活品质的追求加大，绿色生态模式更加受到关注。不仅房地产开发的木屋、木别墅受到市场的热捧，旅游景区景点
													
								</p>
								<h3>
									<span class="time">发布时间：2018-09-05</span>
									<span class="view">浏览次数156</span>
								</h3>									
							</figcaption>
						</a>
					</li>
					<li>
						<a href="">
							<figure><img src="../../assets/img/tu2.png" alt="" /></figure>
							<figcaption>
								<h2>中国木屋市场局面已经全方位开启</h2>
								<p>
									
										据调查，随着人们对生活品质的追求加大，绿色生态模式更加受到关注。不仅房地产开发的木屋、木别墅受到市场的热捧，旅游景区景点
													
								</p>
								<h3>
									<span class="time">发布时间：2018-09-05</span>
									<span class="view">浏览次数156</span>
								</h3>									
							</figcaption>
						</a>
					</li>
					
					<li>
						<a href="">
							<figure><img src="../../assets/img/tu3.jpg" alt="" /></figure>
							<figcaption>
								<h2>中国木屋市场局面已经全方位开启</h2>
								<p>
									
										据调查，随着人们对生活品质的追求加大，绿色生态模式更加受到关注。不仅房地产开发的木屋、木别墅受到市场的热捧，旅游景区景点
													
								</p>
								<h3>
									<span class="time">发布时间：2018-09-05</span>
									<span class="view">浏览次数156</span>
								</h3>									
							</figcaption>
						</a>
					</li>
				</ul>
				<div class="fenye">
					<a class="a1">8条</a> 
					<a href="" class="a1">&lt;&lt;</a> 
					<a href="">1</a> <a href="">2</a> 
					<a href="">3</a> <a href="">4</a> 
					<a href="">5</a> <a href="">6</a> 
					<a href="" class="a1">&gt;&gt;</a>	
				</div>	
				<div class="hot-tui">
					<div class="clearfix div1">
						<h2 class="fl">热门推荐<b></b></h2>
						<a href="" class="more fr">更多</a>
					</div>	
					<ul class="news-tui">
						<li>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
						</li>
						<li>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
						</li>
						<li>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
						</li>
						<li>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
							<p>
								<a href=""><span></span>中国木屋市场局面已经全方位开启</a>
							</p>
						</li>
						
					
					</ul>
					
					
					
				</div>
			</div>
		</div>	


		<script src="../../../public/js/jquery-3.3.1.min.js"></script>
		<script src="../../../public/js/SuperSlide.2.1.3.js"></script>
		<script src="../../../public/js/more.js"></script>
		<!-- 开发环境版本，包含了有帮助的命令行警告 -->
		<!-- Vue和element-ui以及axios的JS-->
		<script src="../../../public/plugins/vue/vue.js"></script>
		<!-- 引入组件库 -->
		<script src="../../../public/plugins/element-ui/index.js"></script>
		<script src="../../../public/plugins/axios/axios.min.js"></script>
		<script src="../../../public/js/request.js"></script>
		<script>
			new Vue({
				el: "#app",
				data() {
					return {
						input1: '',
						input2: '',
						pickerOptions: {
							disabledDate(time) {
								return time.getTime() > Date.now();
							},
							shortcuts: [{
								text: '今天',
								onClick(picker) {
									picker.$emit('pick', new Date());
								}
							}, {
								text: '昨天',
								onClick(picker) {
									const date = new Date();
									date.setTime(date.getTime() - 3600 * 1000 * 24);
									picker.$emit('pick', date);
								}
							}, {
								text: '一周前',
								onClick(picker) {
									const date = new Date();
									date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
									picker.$emit('pick', date);
								}
							}]
						},
						value1: '',
					}
				}
			})
		</script>
	</body>
</html>                                                                            
