<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../../public/styles/common2.css" />
  <link rel="stylesheet" href="../../../public/styles/page.css" />
  <style>
    #member-app  .notAdmin::after{
      border: 0 !important;
    }
    .tdleft{
      font-weight: bold;
      width: 180px;
    }
    tr{
      height: 26px;
    }
    #freeze .el-dialog__body{
      padding: 30px 40px 30px 0px;
    }
  </style>
</head>
<body>
  <div class="dashboard-container" id="member-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="input"
          placeholder="请输入用户昵称"
          style="width: 250px"
          clearable
           @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="handleQuery"
          ></i>
        </el-input>
        
        
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        :cell-style="{ textAlign: 'center' }"
        :header-cell-style="{ textAlign: 'center' }"
      >
        <el-table-column
          prop="uid"
          label="UID"
        ></el-table-column>

        <el-table-column
          prop="account"
          label="账号"
        ></el-table-column>

        <el-table-column
          prop="phone"
          label="绑定的手机号"
          width="140"
        >
          <template slot-scope="{row}">
            {{ row.phone || '尚未绑定' }}
          </template>
        </el-table-column>

        <el-table-column
          prop="username"
          label="昵称"
        ></el-table-column>

        <el-table-column label="头像">
          <template slot-scope="scope">
            <el-popover placement="top-start" title="" trigger="hover">
              <img :src="scope.row.avatar" alt="" style="width: 200px;height: 200px;">
              <img slot="reference" :src="scope.row.avatar" style="width: 32px;height: 32px;border-radius: 50%">
            </el-popover>
          </template>
        </el-table-column>

        <el-table-column
          prop="level"
          label="账号等级"
        ></el-table-column>

        <el-table-column label="注册时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>

        <el-table-column label="上次登录时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>

        <el-table-column
          prop="remain"
          label="账号余额"
        ></el-table-column>

        <el-table-column label="账号状态">
          <template slot-scope="scope">
            <span :style="String(scope.row.status) === '0' ? 'color:red;':'' ">
              {{ String(scope.row.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </template>
        </el-table-column>

        <el-table-column
            prop="rolenum"
            :show-overflow-tooltip="true"
            label="角色类型"
            :formatter="rolenumFormatter"
          >
        </el-table-column>

        <el-table-column
          label="操作"
          align="center"
          width="160"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="userdetail(scope.row)"
            >
              查看
            </el-button>

            
            <el-button
              type="text"
              size="small"
              :class="scope.row.status == '1' ?'delBut':'reBut'"
              @click="statusHandle(scope.row)"
            >
              {{ scope.row.status == '1' ? '封禁' : '解封' }}
            </el-button>
          </template>
        </el-table-column>

      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        :current-page.sync="page"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <el-dialog title="用户详情" :visible.sync="userVisible" width="50%" top="15px">
      <table>
        <tr>
          <td class="tdleft">UID</td>
          <td>{{userinfo.uid}}</td>
        </tr>
        <tr>
          <td class="tdleft">账号</td>
          <td>{{userinfo.account}}</td>
        </tr>
        <tr>
          <td class="tdleft">昵称</td>
          <td>{{userinfo.username}}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的手机号</td>
          <td>{{ userinfo.phone || '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">性别</td>
          <td>{{ userinfo.sex=='0'?'男':(userinfo.sex=='1'?'女':(userinfo.sex=='2'?'保密':'尚未填写')) }}</td>
        </tr>
        <tr>
          <td class="tdleft">个性签名</td>
          <td>{{userinfo.sign|| '尚未填写' }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号状态</td>
          <td>
            <span :style="String(userinfo.status) === '0' ? 'color:red;':'' ">
              {{ String(userinfo.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="tdleft">当前经验</td>
          <td>{{ userinfo.exp}}</td>
        </tr>
        <tr>
          <td class="tdleft">当前等级</td>
          <td>{{ userinfo.level}}</td>
        </tr>
        <tr>
          <td class="tdleft">当前VIP等级</td>
          <td>{{ userinfo.viplevel}}</td>
        </tr>
        <tr>
          <td class="tdleft">当前账户余额</td>
          <td>{{ userinfo.remain}}&nbsp;元</td>
        </tr>
        <tr>
          <td class="tdleft">用户地址</td>
          <td>{{ userinfo.address|| '尚未填写' }}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的微信号</td>
          <td>{{ userinfo.wxNumber|| '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号创建时间</td>
          <td>
            <template>
              <span>{{userinfo.createTime}}</span>
            </template>
          </td>
        </tr>
        <tr>
          <td class="tdleft">上次登录时间</td>
          <td>{{userinfo.updateTime}}</td>
        </tr>
      </table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="userVisible = false">取 消</el-button>
        <el-button type="primary" @click="userVisible = false">确 定</el-button>
      </div>
    </el-dialog>

    <div id="freeze">
    <el-dialog title="封禁用户" :visible.sync="freezeVisible">
      <el-form :model="form">
        <el-form-item label-width="60px">
          <span>封禁用户：<strong>{{name}}</strong>，UID：<strong>{{id}}</strong>，账号：<strong>{{account}}</strong></span>
        </el-form-item>
        <el-form-item label="封禁原因" label-width="120px">
          <el-select v-model="reason" placeholder="请选择封禁原因">
            <el-option label="个人信息违规" value="个人信息违规"></el-option>
            <el-option label="散播谣言" value="散播谣言"></el-option>
            <el-option label="涉嫌欺诈" value="涉嫌欺诈"></el-option>
            <el-option label="涉嫌人身攻击" value="涉嫌人身攻击"></el-option>
            <el-option label="传播色情" value="传播色情"></el-option>
            <el-option label="侵犯他人隐私" value="侵犯他人隐私"></el-option>
            <el-option label="多次引战" value="多次引战"></el-option>
            <el-option label="其他" value="其他"></el-option>
          </el-select>
        </el-form-item>
        
        <el-form-item label="详细说明" label-width="120px">
            <el-input
              type="textarea"
              placeholder="请输入详细说明"
              v-model="des"
              rows="3">
            </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="freezeVisible = false">取 消</el-button>
        <el-button type="primary" @click="freezeuser">确 定</el-button>
      </div>
    </el-dialog>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../public/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../public/plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../public/plugins/axios/axios.min.js"></script>
    <script src="../../../public/js/request.js"></script>
    <script src="../../myapi/users.js"></script>
    <script>
      new Vue({
        el: '#member-app',
        data() {
          return {
             input: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             id : '',
             status : '',
             name:'',
             account:'',
             reason:'',
             des:'',
             userVisible:false,
             freezeVisible:false,
             userinfo:{},
             empeid:''
          }
        },
        computed: {},
        created() {
          this.init()
          this.empeid = JSON.parse(localStorage.getItem('empInfo')).eid
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined
            }
            await getUserList(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
           // 查看用户状态
          userdetail (st) {
            this.userVisible = true;
            this.userinfo=st;
            this.userinfo.createTime=this.userinfo.createTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
            this.userinfo.updateTime=this.userinfo.updateTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
          },
          //状态修改
          statusHandle (row) {
            this.id = row.uid
            this.account=row.account
            this.name=row.username
            this.status = row.status
            if(this.status==1){
              this.freezeVisible = true
            }else{
              this.delfreeze()
            }
          },
          //封禁用户
          async freezeuser(){
            this.freezeVisible = false
            let res = await freezeuserApi(this.reason,this.des,this.id,this.empeid)
            if (String(res.code) === '1') {
                this.$message({
                    type:'success',
                    message: '已成功封禁用户',
                    duration: 5000
                })
              this.handleQuery()
            } else {
                this.$message.error(res.msg);
            }
          },
          //解封用户
          async delfreeze(){
            this.$confirm('确认要解封用户 '+this.name+'（账号：'+this.account+'）吗?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              delfreezeuser(this.id).then(res => {
                if (String(res.code) === '1') {
                  this.$message.success('已成功解封该用户！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },
          // 时间格式化
          dataFormat(value) {
            var year = value.substr(0, 4)
            var month = value.substr(5, 2)
            var day = value.substr(8, 2)
            var hour = value.substr(11, 2)
            var min = value.substr(14, 2)
            var second = value.substr(17,2)
            return year + "-" + month + "-" + day + " " + hour + ":" + min + ":"+second
          },
          rolenumFormatter(row, column){
          	const rolenum = row.rolenum
            	if (rolenum == 0) {
            	return '内测用户'
            	} else if (rolenum == 1) {
            	return '普通用户'
            	} else if (rolenum == 2) {
            	return '健身博主'
            	} else if (rolenum == 3) {
          	    return '商家'
            	} else {
            	return '低信用用户'
            	}
          	}
        }
      })
    </script>
</body>
</html>