<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../../public/styles/common2.css" />
    <link rel="stylesheet" href="../../../public/styles/page.css" />
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .avatar-uploader{
            text-align: center;
        }
        #member-app  .notAdmin::after{
            border: 0 !important;
        }
        .tdleft{
            font-weight: bold;
            width: 180px;
        }
        tr{
            height: 26px;
        }
    </style>
</head>
<body>
<div class="dashboard-container" id="member-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入食谱名称"
                    style="width: 250px"
                    clearable
                    @keyup.enter.native="handleQuery"
            >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="handleQuery"
                ></i>
            </el-input>
            <el-button
                    type="primary"
                    @click="addMemberHandle"
            >
                + 添加食谱
            </el-button>

        </div>
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
                :cell-style="{ textAlign: 'center' }"
                :header-cell-style="{ textAlign: 'center' }"
        >
            <el-table-column
                    prop="diet_id"
                    label="食谱ID"
            ></el-table-column>

            <el-table-column
                    prop="diet_title"
                    label="食谱标题"
            ></el-table-column>

            <el-table-column
                    prop="diet_category_id"
                    label="食谱类别ID"
                    width="140"
            >

            </el-table-column>

            <el-table-column
                    prop="cover"
                    label="封面"
            ></el-table-column>


            <el-table-column
                    prop="cooking_method"
                    label="烹饪方法"
            ></el-table-column>

            <el-table-column
                    prop="diet_heat"
                    label="食谱热量"
            ></el-table-column>

            <el-table-column
                    prop="price"
                    label="价格"
            ></el-table-column>

            <el-table-column
                    prop="hits"
                    label="点击数"
            ></el-table-column>

            <el-table-column
                    prop="praise_num"
                    label="点赞数"
            ></el-table-column>

            <el-table-column
                    prop="suitable_person"
                    label="适宜人群"
            ></el-table-column>


            <el-table-column
                    label="操作"
                    align="center"
                    width="160"
            >
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="userdetail(scope.row)"
                    >
                        查看
                    </el-button>


                    <el-button
                            type="text"
                            size="small"
                            class="delBut non"
                            @click="statusHandle(scope.row)"
                    >
                        {{ scope.row.status == '1' ? '冻结' : '启用' }}
                    </el-button>
                </template>
            </el-table-column>

        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                :current-page.sync="page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
    <el-dialog title="用户详情" :visible.sync="userVisible" width="50%" top="15px">
        <table>
            <tr>
                <td class="tdleft">UID</td>
                <td>{{userinfo.uid}}</td>
            </tr>
            <tr>
                <td class="tdleft">账号</td>
                <td>{{userinfo.account}}</td>
            </tr>
            <tr>
                <td class="tdleft">昵称</td>
                <td>{{userinfo.username}}</td>
            </tr>
            <tr>
                <td class="tdleft">绑定的手机号</td>
                <td>{{ userinfo.phone || '尚未绑定' }}</td>
            </tr>
            <tr>
                <td class="tdleft">性别</td>
                <td>{{ userinfo.sex=='0'?'男':(userinfo.sex=='1'?'女':(userinfo.sex=='2'?'保密':'尚未填写')) }}</td>
            </tr>
            <tr>
                <td class="tdleft">个性签名</td>
                <td>{{userinfo.sign|| '尚未填写' }}</td>
            </tr>
            <tr>
                <td class="tdleft">账号状态</td>
                <td>{{ String(userinfo.status) === '0' ? '已冻结' : '正常' }}</td>
            </tr>
            <tr>
                <td class="tdleft">当前经验</td>
                <td>{{ userinfo.exp}}</td>
            </tr>
            <tr>
                <td class="tdleft">当前等级</td>
                <td>{{ userinfo.level}}</td>
            </tr>
            <tr>
                <td class="tdleft">当前VIP等级</td>
                <td>{{ userinfo.viplevel}}</td>
            </tr>
            <tr>
                <td class="tdleft">当前账户余额</td>
                <td>{{ userinfo.remain}}&nbsp;元</td>
            </tr>
            <tr>
                <td class="tdleft">用户地址</td>
                <td>{{ userinfo.address|| '尚未填写' }}</td>
            </tr>
            <tr>
                <td class="tdleft">绑定的微信号</td>
                <td>{{ userinfo.wxNumber|| '尚未绑定' }}</td>
            </tr>
            <tr>
                <td class="tdleft">账号创建时间</td>
                <td>
                    <template>
                        <span>{{userinfo.createTime}}</span>
                    </template>
                </td>
            </tr>
            <tr>
                <td class="tdleft">账号更新时间</td>
                <td>{{userinfo.updateTime}}</td>
            </tr>
        </table>
        <div slot="footer" class="dialog-footer">
            <el-button @click="userVisible = false">取 消</el-button>
            <el-button type="primary" @click="userVisible = false">确 定</el-button>
        </div>
    </el-dialog>

    <!--    添加食谱-->
    <el-dialog title="添加食谱" :visible.sync="addVisible" top="15px">
        <el-form ref="addform" :model="addform" :rules="registerRules">

            <div class="info" style="margin:0 30px">
                <h3>封面图片</h3>
                <div style="display: flex;margin: 20px;">
                    <el-avatar :size="180" :src="circleUrl"></el-avatar>
                    <el-button type="success" round style="margin-left: 50px; margin-top: 100px;height: 42px;" @click="changeVisible = true">添加封面</el-button>
                </div>

                <el-dialog
                        title="上传封面图片"
                        :visible.sync="changeVisible"
                        width="30%"
                >
                    <el-upload
                            class="avatar-uploader"
                            action="/common/upload"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload"
                    >
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>

                    <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="changeavatar">确 定</el-button>
                                <el-button @click="changeVisible = false">取 消</el-button>
                              </span>
                </el-dialog>

                <el-form-item label="食谱ID" :label-width="formLabelWidth" prop="diet_id">
                    <el-input v-model="addform.diet_id" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="食谱标题" :label-width="formLabelWidth" prop="diet_title">
                    <el-input show-password v-model="addform.password" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="食谱类别ID" :label-width="formLabelWidth" prop="diet_category_id">
                    <el-select v-model="addform.food_category" placeholder="请选择食谱类别id">
                        <el-option label="1" value="1"></el-option>
                        <el-option label="2" value="2"></el-option>
                        <el-option label="3" value="3"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="烹饪方法" :label-width="formLabelWidth" prop="cooking_method">
                    <el-input v-model="addform.cooking_method" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="食谱热量 " :label-width="formLabelWidth" prop="diet_heat">
                    <el-input v-model="addform.diet_heat" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="价格" :label-width="formLabelWidth" prop="price">
                    <el-input v-model="addform.price" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="适宜人群" :label-width="formLabelWidth" prop="suitable_person">
                    <el-input v-model="addform.suitable_person" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="addemp">添 加</el-button>
            <el-button @click="addVisible = false">取 消</el-button>
        </div>
    </el-dialog>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../../public/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../public/plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../../public/plugins/axios/axios.min.js"></script>
<script src="../../../public/js/request.js"></script>
<script src="../../myapi/users.js"></script>
<script>
    new Vue({
        el: '#member-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData : [],
                id : '',
                status : '',
                userVisible:false,
                changeVisible:false,
                userinfo:{},
                addVisible:false,
                addform:{
                    account:'',
                    password:'',
                    againpassword:'',
                    name:'',
                    phone:'',
                    rolenum:''
                },
                formLabelWidth: '120px'
            }
        },
        computed: {},
        created() {
            this.init()
            this.empInfo = JSON.parse(localStorage.getItem('empInfo')).name
        },
        mounted() {
        },
        methods: {
            async init () {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getUserList(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            // 添加
            addMemberHandle () {
                this.addVisible=true
                console.log(this.addform)
            },
            async addemp(){
                this.$refs.addform.validate(async (valid) => {
                    if (valid) {
                        let res = await registerempApi(this.addform)
                        if (String(res.code) === '1') {
                            this.$message({
                                type:'success',
                                message: '食材添加成功！',
                                duration: 5000,
                            })
                            this.addVisible=false
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg)
                        }
                    }
                })
            },
            //状态修改
            statusHandle (row) {
                this.id = row.id
                this.status = row.status
                this.$confirm('确认调整该账号的状态?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    enableOrDisableEmployee({ 'id': this.id, 'status': !this.status ? 1 : 0 }).then(res => {
                        console.log('enableOrDisableEmployee',res)
                        if (String(res.code) === '1') {
                            this.$message.success('账号状态更改成功！')
                            this.handleQuery()
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            handleSizeChange (val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange (val) {
                this.page = val
                this.init()
            },
            handleAvatarSuccess(response, file,fileList) {
                this.imageUrl = `/common/download?name=${response.data}`;
                this.$forceUpdate() // 触发强制刷新
            },
            beforeAvatarUpload(file) {
                const isJPEG = file.type === 'image/jpeg'
                const isPNG = file.type === 'image/png'
                const isJPG = file.type === 'image/jpg'
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG && !isPNG && !isJPEG) {
                    this.$message.error('上传图片只能是jpg，png，jpeg格式!');
                    return false
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                    return false
                }
                return true;
            },
            // 时间格式化
            dataFormat(value) {
                var year = value.substr(0, 4)
                var month = value.substr(5, 2)
                var day = value.substr(8, 2)
                var hour = value.substr(11, 2)
                var min = value.substr(14, 2)
                var second = value.substr(17,2)
                return year + "-" + month + "-" + day + " " + hour + ":" + min + ":"+second
            },
        }
    })
</script>
</body>
</html>