<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../../public/styles/common2.css" />
    <link rel="stylesheet" href="../../../public/styles/page.css" />
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .avatar-uploader{
            text-align: center;
        }
        #member-app  .notAdmin::after{
            border: 0 !important;
        }
        .tdleft{
            font-weight: bold;
            width: 180px;
        }
        tr{
            height: 26px;
        }
    </style>
</head>
<body>
<div class="dashboard-container" id="member-app">
    <div class="container">
        <div class="tableBar">
            <el-input
                    v-model="input"
                    placeholder="请输入食物名称"
                    style="width: 250px"
                    clearable
                    @keyup.enter.native="handleQuery"
            >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="handleQuery"
                ></i>
            </el-input>

            <el-button
                    type="primary"
                    @click="addMemberHandle"
            >
                + 添加食材
            </el-button>

        </div>
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
                :cell-style="{ textAlign: 'center' }"
                :header-cell-style="{ textAlign: 'center' }"
        >
            <el-table-column
                    prop="foodId"
                    label="食品ID"
            ></el-table-column>

            <el-table-column
                    prop="foodName"
                    label="食品名称"
            ></el-table-column>

            <el-table-column
                    prop="foodCategory"
                    label="食物类别"
                    width="140"
            >

            </el-table-column>



            <el-table-column label="封面">
                <template slot-scope="scope">
                    <el-popover placement="top-start" title="" trigger="hover">
                        <img :src="scope.row.picture" alt="" style="width: 250px;height: 250px;">
                        <img slot="reference" :src="scope.row.picture" style="width: 32px;height: 32px;">
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column
                    prop="heat"
                    label="热量(千卡/100g)"
            ></el-table-column>

<!--            <el-table-column label="创建时间" width="90">-->
<!--                <template slot-scope="scope">-->
<!--                    <span>{{scope.row.createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>-->
<!--                </template>-->
<!--            </el-table-column>-->

<!--            <el-table-column label="修改时间" width="90">-->
<!--                <template slot-scope="scope">-->
<!--                    <span>{{scope.row.updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>-->
<!--                </template>-->
<!--            </el-table-column>-->

            <el-table-column
                    prop="fat"
                    label="脂肪(g/100g)"
            ></el-table-column>
            <el-table-column
                    prop="carbohydrate"
                    label="碳水化合物(g/100g)"
            ></el-table-column>
            <el-table-column
                    prop="protein"
                    label="蛋白质(g/100g)"
            ></el-table-column>

            <el-table-column
                    prop="suitablePerson"
                    label="适宜人群"
            ></el-table-column>

            <el-table-column
                    prop="dietTaboo"
                    label="饮食禁忌"
            ></el-table-column>



            <el-table-column
                    label="操作"
                    align="center"
                    width="160"
            >
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="userdetail(scope.row)"
                    >
                        更改
                    </el-button>


                    <el-button
                            type="text"
                            size="small"
                            class="delBut non"
                            @click="statusHandle(scope.row)"
                    >
                        删除
                    </el-button>
                </template>
            </el-table-column>

        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                :current-page.sync="page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>

    <!--    添加食材-->
    <el-dialog title="添加食材" :visible.sync="addVisible" width="55%" top="15px" :lock-scroll="false">
        <el-form ref="addform" :model="addform" :rules="addformrules">
            <div class="info" style="margin:0 30px">


<!--                <el-dialog-->
<!--                        title="上传封面图片"-->
<!--                        :visible.sync="changeVisible"-->
<!--                        width="30%"-->
<!--                >-->
<!--                    <el-upload-->
<!--                            class="avatar-uploader"-->
<!--                            action="/common/upload"-->
<!--                            :show-file-list="false"-->
<!--                            :on-success="handleAvatarSuccess"-->
<!--                            :before-upload="beforeAvatarUpload"-->
<!--                    >-->
<!--                        <img v-if="imageUrl" :src="imageUrl" class="avatar">-->
<!--                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>-->
<!--                    </el-upload>-->

<!--                    <span slot="footer" class="dialog-footer">-->
<!--                                <el-button type="primary" @click="changeavatar">确 定</el-button>-->
<!--                                <el-button @click="changeVisible = false">取 消</el-button>-->
<!--                              </span>-->
<!--                </el-dialog>-->


            <el-form-item label="食品名称" :label-width="formLabelWidth" prop="foodName">
                <el-input  v-model="addform.foodName" autocomplete="off" style="width: 400px"></el-input>
            </el-form-item>
                <el-form-item label="食品封面链接" :label-width="formLabelWidth" prop="food_id">
                    <el-input v-model="addform.picture" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
            <el-form-item label="食物类别" :label-width="formLabelWidth" prop="foodCategory">
                <el-select v-model="addform.foodCategory" placeholder="请选择食物类别">
                    <el-option label="主食" value="主食"></el-option>
                    <el-option label="肉蛋奶类" value="肉蛋奶类"></el-option>
                    <el-option label="蔬菜水果" value="蔬菜水果"></el-option>
                    <el-input v-model="addform.foodCategory" placeholder="填写其他类别" autocomplete="off" style="width: 320px"></el-input>
                </el-select>
            </el-form-item>

            <el-form-item label="热量(千卡/100g)" :label-width="formLabelWidth" prop="heat">
                <el-input v-model="addform.heat" autocomplete="off" style="width: 400px"></el-input>
            </el-form-item>
                <el-form-item label="脂肪(g/100g)" :label-width="formLabelWidth" prop="fat">
                    <el-input v-model="addform.fat" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="碳水化合物(g/100g)" :label-width="formLabelWidth" prop="carbohydrate">
                    <el-input v-model="addform.carbohydrate" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="蛋白质(g/100g)" :label-width="formLabelWidth" prop="protein">
                    <el-input v-model="addform.protein" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
                <el-form-item label="适宜人群" :label-width="formLabelWidth" prop="taboo">
                    <el-input v-model="addform.suitablePerson" autocomplete="off" style="width: 400px"></el-input>
                </el-form-item>
            <el-form-item label="饮食禁忌" :label-width="formLabelWidth" prop="taboo">
                <el-input v-model="addform.dietTaboo" autocomplete="off" style="width: 400px"></el-input>
            </el-form-item>
                </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="addfood">添 加</el-button>
            <el-button @click="addVisible = false">取 消</el-button>
        </div>
    </el-dialog>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../../public/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../public/plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../../public/plugins/axios/axios.min.js"></script>
<script src="../../../public/js/request.js"></script>
<script src="../../myapi/food.js"></script>
<script>
    new Vue({
        el: '#member-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData : [],
                id : '',
                status : '',
                changeVisible:false,
                userinfo:{},
                addVisible:false,
                addform:{
                    foodName:'',
                    foodCategory:'',
                    picture:'',
                    heat:'',
                    fat:'',
                    carbohydrate:'',
                    protein:'',
                    suitablePerson:'',
                    dietTaboo:''
                },
                formLabelWidth: '160px',
                addformrules: {
                    foodName: [
                        { required: true, message: '请输入食物名称', trigger: 'blur' },
                    ],
                    foodCategory: [
                        { required: true, message: '请选择食物类别', trigger: 'change' }
                    ],
                    heat: [
                        { required: true, message: '请输入热量', trigger: 'blur' }
                    ],
                    fat: [
                        { required: true, message: '请输入脂肪', trigger: 'blur' }
                    ],
                    protein: [
                        { required: true, message: '请输入蛋白质', trigger: 'blur' }
                    ],
                    carbohydrate: [
                        { required: true, message: '请输入碳水化合物', trigger: 'blur' }
                    ],
                }
            }
        },
        computed: {

        },
        created() {
            this.init()
            this.empInfo = JSON.parse(localStorage.getItem('empInfo'))
        },
        mounted() {
        },
        methods: {
            async init () {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getFoodList(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },

            // 添加
            addMemberHandle () {
                this.addVisible=true
            },
            async addfood(){
                this.$refs.addform.validate(async (valid) => {
                    if (valid) {
                        let res = await addfoodApi(this.addform)
                        if (String(res.code) === '1') {
                            this.$message({
                                type:'success',
                                message: '食材添加成功！',
                                duration: 5000,
                            })
                            this.addVisible=false
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg)
                        }
                    }
                })
            },
            //状态修改
            statusHandle (row) {
                this.id = row.id
                this.status = row.status
                this.$confirm('确认调整该账号的状态?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    enableOrDisableEmployee({ 'id': this.id, 'status': !this.status ? 1 : 0 }).then(res => {
                        console.log('enableOrDisableEmployee',res)
                        if (String(res.code) === '1') {
                            this.$message.success('账号状态更改成功！')
                            this.handleQuery()
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            handleSizeChange (val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange (val) {
                this.page = val
                this.init()
            },
            handleAvatarSuccess(response, file,fileList) {
                this.imageUrl = `/common/download?name=${response.data}`;
                this.$forceUpdate() // 触发强制刷新
            },
            beforeAvatarUpload(file) {
                const isJPEG = file.type === 'image/jpeg'
                const isPNG = file.type === 'image/png'
                const isJPG = file.type === 'image/jpg'
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG && !isPNG && !isJPEG) {
                    this.$message.error('上传图片只能是jpg，png，jpeg格式!');
                    return false
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                    return false
                }
                return true;
            },
            // 时间格式化
            dataFormat(value) {
                var year = value.substr(0, 4)
                var month = value.substr(5, 2)
                var day = value.substr(8, 2)
                var hour = value.substr(11, 2)
                var min = value.substr(14, 2)
                var second = value.substr(17,2)
                return year + "-" + month + "-" + day + " " + hour + ":" + min + ":"+second
            },

        }
    })
</script>
</body>
</html>