<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>首页</title>
        <link rel="stylesheet" href="../public/plugins/element-ui/index.css" />
        <link rel="shortcut icon" href="../public/favicon.ico">
        <style type="text/css">
        #user{
            float: right;
        }
        .el-main{
            padding: 0px;
        }
        .el-avatar{
            background:#FFFFFF;
        }
        body{
            /*background-image: url("assets/img/2ciyuan.png");*/
            background-image: linear-gradient(45deg, #efe6ef 14%, #d8ffe0 83%, #ffffff 100%);
        }
        .el-header{
            padding: 0 7px;
        }
        .el-dropdown{
           color: white;

        }
        .el-menu-item i{
            color: white;
        }
        .search{
            height: 60px;
            background-color: rgba(0, 0, 15, 0.47);
            display: inline-block;
            padding: 0 85.4px;
        }
        </style>
    </head>
    <body>
        <div id="app">
            <el-container>
                
                <el-header>
                    <el-menu 
                    default-active="1" 
                    class="el-menu-demo" 
                    mode="horizontal" 
                    @select="selectMenu"
                    text-color="#fff"
                    active-text-color="#8dd9cc"
                    background-color="#00000f78"

                    >
                      <el-menu-item index="0" style="border-bottom: none;text-decoration: none;">
                          <div>
                            <img src="assets/img/fitdaylogo.png" alt="" style="width: 142px; height: 50px;margin-bottom:8px;" />
                          </div>
                      </el-menu-item>
                      <el-menu-item index="1">首页</el-menu-item>
                      <el-menu-item index="2">饮食计划</el-menu-item>
                      <el-menu-item index="3">运动计划</el-menu-item>
                      <el-menu-item index="4">小组</el-menu-item>
                      <el-menu-item index="5">社区</el-menu-item>
                      <el-menu-item index="6">商城</el-menu-item>
                      <el-menu-item index="7">心理咨询</el-menu-item>
                            <div class="search" >
                                <el-input placeholder="感兴趣的搜一搜"  v-model="keyword"  style="width: 350px;margin-top: 10px">
                                    <i
                                            slot="suffix"
                                            class="el-input__icon el-icon-search"
                                            style="cursor: pointer;font-size: 25px;"
                                    ></i>
                                </el-input>
                            </div>
                        <el-menu-item id="user" index="8" style="border-bottom: none;text-decoration: none;">

                          <div>
                              <el-dropdown @command="handleCommand">
                                <span style="cursor: pointer;">
                                  <span style="margin:0 15px 8px 0;"><el-avatar size="medium" :src="circleUrl"></el-avatar></span>
                                  <span>{{userInfo.username}}</span>
                                  <i class="el-icon-caret-bottom"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item icon="el-icon-user-solid" command="a"> 个人中心 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-message-solid" command="b"> 查看消息 <el-badge class="mark" :value="12" :max="99"/></el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-s-finance" command="d"> 余额充值 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-star-on" command="e"> 推荐服务 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-s-promotion" command="f"> 我的社交 </el-dropdown-item>
                                <el-dropdown-item icon="el-icon-switch-button" divided command="c"> 退出登录 </el-dropdown-item>
                              </el-dropdown-menu>
                            </el-dropdown>  
                          </div>
                      </el-menu-item>
                    </el-menu>
    
                </el-header>
                
            </el-container>

            <el-dialog title="填写详细信息" :visible.sync="userinfoVisible" width="35%">
                用户您好！您可能是首次登录，还未填写自己的身体情况！填写后fitday将会为您提供更加方便的服务！
                <el-form style="margin-top: 30px">
                    <el-form-item label="您的身高(cm)" :label-width="formLabelWidth">
                        <el-input v-model="nowheight" autocomplete="off" style="width: 300px"></el-input>
                    </el-form-item>
                    <el-form-item label="您的体重(kg)" :label-width="formLabelWidth">
                        <el-input v-model="nowweight" autocomplete="off"  style="width: 300px"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="updateinfo">确定</el-button>
                    <el-button  @click="userinfoVisible = false">下次再填写</el-button>
                </div>
            </el-dialog>

            <el-container>
                <el-main>
                    <iframe
                      id="cIframe"
                      class="c_iframe"
                      name="cIframe"
                      :src="iframeUrl"
                      width="100%"
                      :height="myheight"
                      frameborder="0"
                      scrolling="no"
                    ></iframe>
                </el-main>
            </el-container>
            
        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../public/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../public/plugins/element-ui/index.js"></script>
        <script src="../public/plugins/axios/axios.min.js"></script>
        <script src="../public/js/request.js"></script>
        <script src="./myapi/userlogin.js"></script>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        urlList: [
                            './page/home/home.html',
                            './page/food/food.html',
                            './page/sport/sport.html',
                            './page/group/search/search1.html',
                            './page/community/community.html',
                            './page/mall/course.html',
                            './page/psychology/psychology.html'
                        ],
                        heightlist:[
                          "1580px",
                          "660px",
                          "1160px",
                          "780px",
                          "1960px",
                          "1280px",
                          "1280px"
                        ],
                        userInfo:{},
                        userinfo2:{},
                        iframeUrl: './page/home/home.html',
                        headTitle: '用户管理',
                        circleUrl:'https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png',
                        myheight:"1580px",
                        userinfoVisible:false,
                        formLabelWidth: '120px',
                        nowheight:'',
                        nowweight:'',
                        keyword:''
                    }
                },
                mounted(){
                    window.addEventListener('message',function(e){
                        var nowheight=e.data+450+'px'
                        document.querySelector("#cIframe").style.height=nowheight
                    })
                    var userInfo = window.localStorage.getItem('userInfo')
                    userInfo = JSON.parse(userInfo)
                    this.userInfo=userInfo
                    this.circleUrl=userInfo.avatar
                    this.init()
                },
                methods: {
                    async init () {
                        await getuserinfo(this.userInfo.uid).then(res => {
                            if (String(res.code) === '1') {

                                this.userInfo2=res.data
                                localStorage.setItem('userInfo2',JSON.stringify(res.data))
                            }else{
                                this.userinfoVisible=true
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    selectMenu(key, keyPath) {
                        if(key==0){
                            this.iframeUrl=this.urlList[0];
                        }else if(key==8){
                            this.iframeUrl=this.iframeUrl;
                        }else {
                            this.iframeUrl=this.urlList[key-1];
                            this.myheight=this.heightlist[key-1];
                        }
                    },
                    updateinfo(){
                        updatemyinfo(this.userInfo.uid,this.nowheight,this.nowweight).then((res)=>{
                            if(res.code === 1){
                               this.init()
                               this.$message.success("填写成功！您可以享受fitday产品的定制服务！")
                            }
                        })
                        this.userinfoVisible=false
                    },
                    handleCommand(command) {
                        if(command=='a'){
                            window.location.href = './page/mycenter/mycenter.html';
                        }else if(command=='c'){
                            this.logout()
                        }else if(command=='d'){
                            window.location.href = './page/Addmoney/Addmoney.html';
                        }else if(command=='b'){
                            window.location.href = 'page/message/mes2.html';
                        }else if(command=='e'){
                            "客服中心"
                            "意见反馈"
                            "申请认证"
                        }else if(command=='f'){
                            "我的关注"
                            "我的粉丝"
                            "我的黑名单"
                        }
                    },
                    logout() {
                        userlogoutApi().then((res)=>{
                            if(res.code === 1){
                                localStorage.removeItem('userInfo')
                                localStorage.removeItem('userInfo2')
                                window.location.href = './page/login/login.html'
                            }
                        })
                    },
                }
            })
        </script>
    </body>
</html>
