<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>首页</title>
        <link rel="stylesheet" href="../public/plugins/element-ui/index.css" />
        <link rel="shortcut icon" href="../public/favicon.ico">
        <style type="text/css">
        #user{
            float: right;
        }
        .el-main{
            padding: 0px;
        }
        .el-avatar{
            background:#FFFFFF;
        }
        body{
            /*background-image: url("assets/img/2ciyuan.png");*/
            background-image: linear-gradient(45deg, #efe6ef30 14%, #d8ffe030 83%, #ffffff 100%);
        }
        .el-header{
            padding: 0;
        }
        .el-menu-item i{
            color: white;
        }
        .search{
            height: 60px;
            display: inline-block;
            padding-left: 80px;
        }
        .el-progress-bar{
            padding: 0;
            margin: 0;
        }
        .el-dropdown{
            color: #fff;
        }
        .choose{
            display: inline-block;
            width: 15px;
            height: 15px;
            border:1px solid #818693;
            margin: 5px;
        }
        .choose:hover{
            cursor: pointer;
            border: #b3d8ff 1px solid;
        }
        </style>
    </head>
    <body>
        <div id="app">
            <el-container>
                
                <el-header>
                    <el-menu 
                    default-active="1" 
                    class="el-menu-demo" 
                    mode="horizontal" 
                    @select="selectMenu"
                    text-color="#fff"
                    active-text-color="#8dd9cc"
                    background-color="#454751"

                    >
                      <el-menu-item index="0" style="border-bottom: none;text-decoration: none;">
                          <div>
                              <el-dropdown @command="handleCommand">
                                <span style="cursor: pointer;">
                                  <img src="assets/img/fitdaylogo.png" alt="" style="width: 142px; height: 50px;margin-bottom:8px;" />
                                </span>
                                  <el-dropdown-menu slot="dropdown" style="width: 250px;text-align: center">
                                      <div style="height: 20px;color: #818693">
                                          请选择主题颜色
                                      </div>
                                      <div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgba(255,255,255) 100%, rgba(255,255,255) 100%, #ffffff 100%)')" style="background-image: linear-gradient(45deg, rgba(255,255,255) 100%, rgba(255,255,255) 100%, #ffffff 100%)"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgba(239,230,239,0.36) 14%, rgba(216,255,224,0.42) 83%, #ffffff 100%)')" style="background-image: linear-gradient(45deg, rgba(239,230,239,0.36) 14%, rgba(216,255,224,0.42) 83%, #ffffff 100%)"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgba(245,198,245,0.19) 14%, rgba(217,113,255,0.19) 83%, #ffffff 100%)')" style="background-image: linear-gradient(45deg, rgba(245,198,245,0.19) 14%, rgba(217,113,255,0.19) 83%, #ffffff 100%)"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgb(198,255,237) 14%, rgba(214,253,204,0.55) 83%, #ffffff 100%)')" style="background-image: linear-gradient(45deg, rgb(198,255,237) 14%, rgba(214,253,204,0.55) 83%, #ffffff 100%)"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgba(133,255,227,0.49) 0%, rgba(154,154,243,0.58) 100%)')" style="background-image: linear-gradient(45deg, rgba(133,255,227,0.49) 0%, rgba(154,154,243,0.58) 100%);"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(45deg, rgba(255,208,21,0.45) 14%, rgba(255,251,202,0.45) 83%, #ffffff 100%)')" style="background-image: linear-gradient(45deg, rgba(255,208,21,0.45) 14%, rgba(255,251,202,0.45) 83%, #ffffff 100%)"></div>
                                          <div class="choose" @click="changecolor('linear-gradient(43deg, rgba(65,88,208,0.4) 0%, rgba(200,80,192,0.35) 46%, rgba(255,204,112,0.33) 100%)')" style="background-image: linear-gradient(43deg, rgba(65,88,208,0.4) 0%, rgba(200,80,192,0.35) 46%, rgba(255,204,112,0.33) 100%);"></div>
                                      </div>

                                  </el-dropdown-menu>
                              </el-dropdown>
                          </div>
                      </el-menu-item>
                      <el-menu-item index="1">首页</el-menu-item>
                      <el-menu-item index="2">饮食计划</el-menu-item>
                      <el-menu-item index="3">运动计划</el-menu-item>
                      <el-menu-item index="4">小组</el-menu-item>
<!--                      <el-menu-item index="5">社区</el-menu-item>-->
                      <el-menu-item index="6">商城</el-menu-item>
                      <el-menu-item index="7">心理咨询</el-menu-item>
                            <div class="search" >
                                <el-input placeholder="感兴趣的搜一搜"  v-model="keyword"  style="width: 350px;margin-top: 10px" @keyup.enter.native="query">
                                    <i
                                            slot="suffix"
                                            class="el-input__icon el-icon-search"
                                            style="cursor: pointer;font-size: 25px;"
                                            @click="query"
                                    ></i>
                                </el-input>
                            </div>
                        <el-menu-item id="user" index="8" style="border-bottom: none;text-decoration: none;">

                          <div>
                              <el-dropdown @command="handleCommand">
                                <span style="cursor: pointer;">
                                  <span style="margin:0 15px 8px 0;"><el-avatar size="medium" :src="circleUrl"></el-avatar></span>
                                  <span>{{userInfo.username}}</span>
                                  <i class="el-icon-caret-bottom"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown" style="width: 200px;text-align: center">
                                    <div style="height: 20px">
                                        <span style="font-size: 14px;color: #606266;vertical-align: 80%">LV{{userInfo.level}}</span>
                                        <el-progress style="display: inline-block;width: 110px" :percentage="mypercent" :format="format"></el-progress>
                                        <span style="font-size: 14px;color: #e2e2e2;vertical-align: 80%">LV{{userInfo.level+1}}</span>
                                    </div>
                                    <div style="font-size: 12px;color: #afb3c2;padding: 0 5px; ">
                                        当前经验{{userInfo.exp}}，距离升级LV{{userInfo.level+1}}还需要{{userInfo.level*1000-userInfo.exp}}经验
                                        <i @click.prevent="refreshexp" style="font-size: 14px;color: #818693;cursor: pointer;padding-left: 5px" class="el-icon-refresh"></i>
                                    </div>
                                <el-dropdown-item icon="el-icon-user-solid" divided command="a"> 个人中心 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-s-finance" command="d"> 余额充值 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-star-on" command="e"> 我的订单 </el-dropdown-item>
                                    <el-dropdown-item icon="el-icon-s-promotion" command="f"> 用户反馈 </el-dropdown-item>
                                <el-dropdown-item icon="el-icon-switch-button" divided command="c"> 退出登录 </el-dropdown-item>
                              </el-dropdown-menu>
                            </el-dropdown>  
                          </div>
                      </el-menu-item>
                    </el-menu>
    
                </el-header>
                
            </el-container>

            <el-dialog title="填写详细信息" :visible.sync="userinfoVisible" width="35%">
                用户您好！您可能是首次登录，还未填写自己的身体情况！填写后fitday将会为您提供更加方便的服务！
                <el-form style="margin-top: 30px">
                    <el-form-item label="您的身高(cm)" :label-width="formLabelWidth">
                        <el-input v-model="nowheight" autocomplete="off" style="width: 300px"></el-input>
                    </el-form-item>
                    <el-form-item label="您的体重(kg)" :label-width="formLabelWidth">
                        <el-input v-model="nowweight" autocomplete="off"  style="width: 300px"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="updateinfo">确定</el-button>
                    <el-button  @click="userinfoVisible = false">下次再填写</el-button>
                </div>
            </el-dialog>

            <el-container>
                <el-main>
                    <iframe
                      id="cIframe"
                      class="c_iframe"
                      name="cIframe"
                      :src="iframeUrl"
                      width="100%"
                      :height="myheight"
                      frameborder="0"
                      scrolling="no"
                    ></iframe>
                </el-main>
            </el-container>
            
        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../public/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../public/plugins/element-ui/index.js"></script>
        <script src="../public/plugins/axios/axios.min.js"></script>
        <script src="../public/js/request.js"></script>
        <script src="./myapi/userlogin.js"></script>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        urlList: [
                            './page/home/home.html',
                            './page/food/food.html',
                            './page/sport/sport.html',
                            './page/group/search/search1.html',
                            './page/community/community.html',
                            './page/mall/course.html',
                            './page/psychology/psychology.html'
                        ],
                        heightlist:[
                          "1580px",
                          "660px",
                          "1160px",
                          "780px",
                          "1960px",
                          "1280px",
                          "1280px"
                        ],
                        userInfo:{},
                        userinfo2:{},
                        iframeUrl: './page/home/home.html',
                        headTitle: '用户管理',
                        circleUrl:'https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png',
                        myheight:"1580px",
                        userinfoVisible:false,
                        formLabelWidth: '120px',
                        nowheight:'',
                        nowweight:'',
                        keyword:'',
                        mygroup:{},
                        mypercent:0,
                    }
                },
                mounted(){
                    window.addEventListener('message',function(e){
                        var nowheight=e.data+450+'px'
                        document.querySelector("#cIframe").style.height=nowheight
                    })
                    this.init0()
                    this.init()
                },
                methods: {
                    init0(){
                        var userInfo = window.localStorage.getItem('userInfo')
                        userInfo = JSON.parse(userInfo)
                        this.userInfo=userInfo
                        this.circleUrl=userInfo.avatar
                        this.mypercent=userInfo.exp*100/(userInfo.level*1000)
                    },
                    async init () {
                        await getuserinfo(this.userInfo.uid).then(res => {
                            if (String(res.code) === '1') {
                                this.userInfo2=res.data
                                localStorage.setItem('userInfo2',JSON.stringify(res.data))
                            }else{
                                this.userinfoVisible=true
                            }
                        }).catch(err => {
                            console.log('请求出错了：' + err)
                        })
                    },
                    changecolor(color){
                        if(this.userInfo.level<2){
                            this.$message.warning("用户需要达到2级才能切换主题颜色")
                        }else {
                            document.querySelector("body").style.backgroundImage=color
                        }
                    },
                    selectMenu(key, keyPath) {
                        if(key==0){
                            this.iframeUrl=this.urlList[0];
                        }else if(key==8){
                            this.iframeUrl=this.iframeUrl;
                        }else if(key==4) {
                            getusergroup(this.userInfo.uid).then(res=>{
                                console.log(res)
                                if (String(res.code) === '1') {
                                    this.mygroup=res.data
                                    window.localStorage.setItem("mygroup",JSON.stringify(this.mygroup))
                                    this.iframeUrl='./page/group/group/community.html'
                                }else{
                                    this.iframeUrl='./page/group/search/search1.html'
                                }
                            })
                        } else{
                            this.iframeUrl=this.urlList[key-1];
                            this.myheight=this.heightlist[key-1];
                        }
                    },
                    updateinfo(){
                        updatemyinfo(this.userInfo.uid,this.nowheight,this.nowweight).then((res)=>{
                            if(res.code === 1){
                               this.init()
                               this.$message.success("填写成功！您可以享受fitday产品的定制服务！")
                            }
                        })
                        this.userinfoVisible=false
                    },
                    format(percentage) {
                        return ``;
                    },
                    refreshexp(){
                        getone(this.userInfo.uid).then(res=>{
                            if(String(res.code) === '1'){
                                this.userInfo=res.data
                                window.localStorage.setItem("userInfo",JSON.stringify(res.data))
                                this.init0()
                                this.$message.success("刷新成功！")
                            }else{
                                this.$message.error("刷新失败！")
                            }
                        })
                    },
                    handleCommand(command) {
                        if(command=='a'){
                            console.log(localStorage.getItem('userInfo2'))
                            if(localStorage.getItem('userInfo2')==null){
                                this.userinfoVisible=true
                                this.$message.warning("请先填写自己的身高体重信息！");
                            }else{
                                window.location.href = './page/mycenter/mycenter.html';
                            }
                        }else if(command=='c'){
                            this.logout()
                        }else if(command=='d'){
                            window.location.href = './page/Addmoney/Addmoney.html';
                        }else if(command=='b'){
                            window.location.href = './page/message/mes2.html';
                        }else if(command=='e'){
                            window.location.href = './page/mall/history.html';
                        }else if(command=='f'){
                            localStorage.setItem("exaccount",this.userInfo.account);
                            window.location.href = './page/accountexplain/feedback.html';
                        }
                    },
                    logout() {
                        userlogoutApi().then((res)=>{
                            if(res.code === 1){
                                localStorage.removeItem('userInfo')
                                localStorage.removeItem('userInfo2')
                                window.location.href = './page/login/login.html'
                            }
                        })
                    },
                    query(){
                        localStorage.setItem("keyword",JSON.stringify(this.keyword))
                        if(this.iframeUrl!='./page/search/search.html'){
                            this.iframeUrl='./page/search/search.html'
                        }else{
                            document.getElementById('cIframe').contentWindow.location.reload();
                        }
                    }
                }
            })
        </script>
    </body>
</html>
