<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>饮食计划</title>
    <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
    <style type="text/css">
        .myflex{
            display:flex;
            background-image: url(../../assets/img/foodblackground.png);
        }
        .left{
            height:700px;
            width:52%;
            display:flex;
            flex-wrap: wrap;
            align-content: flex-start;
            border-right: 1px solid #ffffff;
        }
        .right{
            height:700px;
            width:48%;
            padding:0 35px;
        }
        .plan{
            padding:0 30px;
            width:45%;
            height: 300px;
            border-right: 1px solid #ffffff;
        }
        .log{
            height: 300px;
        }
        h3{
            display: inline-block;
            margin: 20px 0;
        }
        h4{
            margin: 15px;
        }
        .block{
            margin: 15px;
        }
        .foodform{
            border-top: 1px solid #ffffff;
            padding: 0 30px;
            width: 100%;
        }
        .time{
            font-size: 17px;
            font-weight: bold;
        }
        .tdleft{
            font-weight: bold;
            width: 200px;
        }
        .image {
            width: 189px;
            height: 142px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="myflex">
        <div class="left">
            <div class="plan">
                <div style="width: 100%;text-align: center;">
                    <h3>今日计划</h3>
                </div>
                <div style="margin: 12px 0;text-align: center;">
                    <time class="time">{{ year }}/{{month}}/{{day}}</time><br>
                    今日需要摄入<strong>{{allheat}}</strong>千卡热量
                </div>
                <div style="display: flex;">
                    <div style="width: 30%;">
                        已摄入 <h4>{{finish}}</h4> 千卡
                    </div>
                    <div style="width: 40%;">
                        <el-progress type="circle" :format="format" :percentage="50"></el-progress>
                    </div>
                    <div style="width: 30%;">
                        运动消耗 <h4>{{consume}}</h4> 千卡
                    </div>

                </div>


            </div>

            <div class="log">
                <div style="width: 100%;text-align: center;">
                    <h3>饮食记录</h3>
                </div>
                <div style="margin-top: 20px;">
                    <div class="block" style="display: inline-block;"><el-avatar :size="50" :src="circleUrl"></el-avatar><br><el-button type="text" style="color:blue" @click="breakfastDialog">+ 早餐</el-button>
                        <el-dialog title="早餐" :visible.sync="breakfastVisible" width="50%"
                                   :center="true">
                            <!-- append-to-body为true可以在弹框内部加上一个弹框 -->
                            <el-dialog title="早餐"  :append-to-body='true' :visible.sync="breakfastinnerVisible" :center="true" >
                                <!-- label-width决定label的宽度，默认为行宽。 -->
                                <el-form :model="editForm" ref="editForm" label-width="100px"  :rules="rules">
                                    <el-form-item label="食物/套餐：" prop="food">
                                        <el-input v-model="editForm.food" ></el-input>
                                    </el-form-item>
                                    <el-form-item label="摄入量(g)：" prop="intake">
                                        <el-input v-model="editForm.intake" ></el-input>
                                    </el-form-item>
                                </el-form>
                                <!-- 弹框底部按钮 -->
                                <span slot="footer" class="dialog-footer">
                                        <el-button @click="cancelAction">取消</el-button>
                                        <el-button type="danger" v-if="breakeditVisible" @click="editAction">修改</el-button>
                                        <el-button type="danger" v-if="breakinsertVisible" @click="insertAction">新增</el-button>
                                        </span>
                            </el-dialog>
                            <!-- :data可以table自动遍历数组数据 -->
                            <el-table :data="breakfastData">
                                <el-table-column property="food" label="食物/套餐"></el-table-column>
                                <el-table-column property="intake" label="摄入量(g)"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <!-- slot-scope="scope"+scope.row可以获取当前行的数据 -->
                                    <template slot-scope="scope">
                                        <el-button type="warning" size="small" @click="editData(scope.$index,scope.row)" plain>编辑</el-button>
                                        <!-- 提示弹框信息 @confirm和@cancel分别为确认和取消的点击按钮事件 -->
                                        <el-popconfirm
                                                icon="el-icon-info"
                                                icon-color="red"
                                                title="这是一段内容确定删除吗？"
                                                @confirm="deleteAction(scope.$index)"
                                                @cancel="cancel(scope.$index)"
                                        >
                                            <el-button type="danger"  slot="reference" size="small" plain>删除</el-button>
                                        </el-popconfirm>
                                    </template>
                                </el-table-column>
                            </el-table>



                            <!-- 弹框底部按钮 -->
                            <span slot="footer" class="dialog-footer">
                                        <el-button type="danger" @click="showAdd">新增</el-button>
                                        <el-button @click="breakfastVisible = false">返回</el-button>
                                    </span>
                        </el-dialog>
                    </div>

                    <div class="block" style="display: inline-block;"><el-avatar :size="50" :src="circleUrl"></el-avatar><br><el-button type="text" style="color:green" @click="lunchDialog">+ 午餐</el-button>
                        <el-dialog title="午餐" :visible.sync="lunchVisible" width="50%"
                                   :center="true">
                            <!-- append-to-body为true可以在弹框内部加上一个弹框 -->
                            <el-dialog title="午餐"  :append-to-body='true' :visible.sync="lunchinnerVisible" :center="true" >
                                <!-- label-width决定label的宽度，默认为行宽。 -->
                                <el-form :model="editForm" ref="editForm" label-width="100px"  :rules="rules">
                                    <el-form-item label="食物/套餐：" prop="food">
                                        <el-input v-model="editForm.food" ></el-input>
                                    </el-form-item>
                                    <el-form-item label="摄入量(g)：" prop="intake">
                                        <el-input v-model="editForm.intake" ></el-input>
                                    </el-form-item>
                                </el-form>
                                <!-- 弹框底部按钮 -->
                                <span slot="footer" class="dialog-footer">
                                        <el-button @click="cancelAction2">取消</el-button>
                                        <el-button type="danger" v-if="luncheditVisible" @click="editAction2">修改</el-button>
                                        <el-button type="danger" v-if="lunchinsertVisible" @click="insertAction2">新增</el-button>
                                        </span>
                            </el-dialog>
                            <!-- :data可以table自动遍历数组数据 -->
                            <el-table :data="lunchData">
                                <el-table-column property="food" label="食物/套餐"></el-table-column>
                                <el-table-column property="intake" label="摄入量(g)"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <!-- slot-scope="scope"+scope.row可以获取当前行的数据 -->
                                    <template slot-scope="scope">
                                        <el-button type="warning" size="small" @click="editData2(scope.$index,scope.row)" plain>编辑</el-button>
                                        <!-- 提示弹框信息 @confirm和@cancel分别为确认和取消的点击按钮事件 -->
                                        <el-popconfirm
                                                icon="el-icon-info"
                                                icon-color="red"
                                                title="这是一段内容确定删除吗？"
                                                @confirm="deleteAction2(scope.$index)"
                                                @cancel="cancel(scope.$index)"
                                        >
                                            <el-button type="danger"  slot="reference" size="small" plain>删除</el-button>
                                        </el-popconfirm>
                                    </template>
                                </el-table-column>
                            </el-table>



                            <!-- 弹框底部按钮 -->
                            <span slot="footer" class="dialog-footer">
                                        <el-button type="danger" @click="showAdd2">新增</el-button>
                                        <el-button @click="lunchVisible = false">返回</el-button>
                                    </span>
                        </el-dialog>
                    </div>

                    <div class="block" style="display: inline-block;"><el-avatar :size="50" :src="circleUrl"></el-avatar><br><el-button type="text" style="color:black" @click="dinnerDialog">+ 晚餐</el-button>
                        <el-dialog title="晚餐" :visible.sync="dinnerVisible" width="50%"
                                   :center="true">
                            <!-- append-to-body为true可以在弹框内部加上一个弹框 -->
                            <el-dialog title="晚餐"  :append-to-body='true' :visible.sync="dinnerinnerVisible" :center="true" >
                                <!-- label-width决定label的宽度，默认为行宽。 -->
                                <el-form :model="editForm" ref="editForm" label-width="100px"  :rules="rules">
                                    <el-form-item label="食物/套餐：" prop="food">
                                        <el-input v-model="editForm.food" ></el-input>
                                    </el-form-item>
                                    <el-form-item label="摄入量(g)：" prop="intake">
                                        <el-input v-model="editForm.intake" ></el-input>
                                    </el-form-item>
                                </el-form>
                                <!-- 弹框底部按钮 -->
                                <span slot="footer" class="dialog-footer">
                                        <el-button @click="cancelAction3">取消</el-button>
                                        <el-button type="danger" v-if="dinnereditVisible" @click="editAction3">修改</el-button>
                                        <el-button type="danger" v-if="dinnerinsertVisible" @click="insertAction3">新增</el-button>
                                        </span>
                            </el-dialog>
                            <!-- :data可以table自动遍历数组数据 -->
                            <el-table :data="dinnerData">
                                <el-table-column property="food" label="食物/套餐"></el-table-column>
                                <el-table-column property="intake" label="摄入量(g)"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <!-- slot-scope="scope"+scope.row可以获取当前行的数据 -->
                                    <template slot-scope="scope">
                                        <el-button type="warning" size="small" @click="editData3(scope.$index,scope.row)" plain>编辑</el-button>
                                        <!-- 提示弹框信息 @confirm和@cancel分别为确认和取消的点击按钮事件 -->
                                        <el-popconfirm
                                                icon="el-icon-info"
                                                icon-color="red"
                                                title="这是一段内容确定删除吗？"
                                                @confirm="deleteAction3(scope.$index)"
                                                @cancel="cancel(scope.$index)"
                                        >
                                            <el-button type="danger"  slot="reference" size="small" plain>删除</el-button>
                                        </el-popconfirm>
                                    </template>
                                </el-table-column>
                            </el-table>



                            <!-- 弹框底部按钮 -->
                            <span slot="footer" class="dialog-footer">
                                        <el-button type="danger" @click="showAdd3">新增</el-button>
                                        <el-button @click="dinnerVisible = false">返回</el-button>
                                    </span>
                        </el-dialog>
                    </div>

                    <div class="block" style="display: inline-block;"><el-avatar :size="50" :src="circleUrl"></el-avatar><br><el-button type="text" style="color:deeppink" @click="addDialog">+ 加餐</el-button>
                        <el-dialog title="加餐" :visible.sync="addVisible" width="50%"
                                   :center="true">
                            <!-- append-to-body为true可以在弹框内部加上一个弹框 -->
                            <el-dialog title="加餐"  :append-to-body='true' :visible.sync="addinnerVisible" :center="true" >
                                <!-- label-width决定label的宽度，默认为行宽。 -->
                                <el-form :model="editForm" ref="editForm" label-width="100px"  :rules="rules">
                                    <el-form-item label="食物/套餐：" prop="food">
                                        <el-input v-model="editForm.food" ></el-input>
                                    </el-form-item>
                                    <el-form-item label="摄入量(g)：" prop="intake">
                                        <el-input v-model="editForm.intake" ></el-input>
                                    </el-form-item>
                                </el-form>
                                <!-- 弹框底部按钮 -->
                                <span slot="footer" class="dialog-footer">
                                        <el-button @click="cancelAction4">取消</el-button>
                                        <el-button type="danger" v-if="addeditVisible" @click="editAction4">修改</el-button>
                                        <el-button type="danger" v-if="addinsertVisible" @click="insertAction4">新增</el-button>
                                        </span>
                            </el-dialog>
                            <!-- :data可以table自动遍历数组数据 -->
                            <el-table :data="addData">
                                <el-table-column property="food" label="食物/套餐"></el-table-column>
                                <el-table-column property="intake" label="摄入量(g)"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <!-- slot-scope="scope"+scope.row可以获取当前行的数据 -->
                                    <template slot-scope="scope">
                                        <el-button type="warning" size="small" @click="editData4(scope.$index,scope.row)" plain>编辑</el-button>
                                        <!-- 提示弹框信息 @confirm和@cancel分别为确认和取消的点击按钮事件 -->
                                        <el-popconfirm
                                                icon="el-icon-info"
                                                icon-color="red"
                                                title="这是一段内容确定删除吗？"
                                                @confirm="deleteAction4(scope.$index)"
                                                @cancel="cancel(scope.$index)"
                                        >
                                            <el-button type="danger"  slot="reference" size="small" plain>删除</el-button>
                                        </el-popconfirm>
                                    </template>
                                </el-table-column>
                            </el-table>



                            <!-- 弹框底部按钮 -->
                            <span slot="footer" class="dialog-footer">
                                        <el-button type="danger" @click="showAdd4">新增</el-button>
                                        <el-button @click="addVisible = false">返回</el-button>
                                    </span>
                        </el-dialog>
                    </div>
                </div>
            </div>

            <div class="foodform">
                <div style="width: 100%;text-align: center;">
                    <h3>饮食计划周期表</h3>
                </div>
                <div class="block" style="display: flex;">
                    <div>

                        <el-date-picker
                                v-model="value2"
                                align="right"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>

                    <div style="margin-left: 40px;">
                        <el-tabs type="border-card" stretch style="width: 380px;">
                            <el-tab-pane label="早餐">早餐</el-tab-pane>
                            <el-tab-pane label="午餐">午餐</el-tab-pane>
                            <el-tab-pane label="晚餐">晚餐</el-tab-pane>
                            <el-tab-pane label="加餐">加餐</el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div style="width: 100%;text-align: center;">
                <h3 style="margin-bottom: 0px">热量查询</h3>

                <el-input
                        v-model="input"
                        placeholder="请输入食物或套餐名称"
                        style="display: block;width: 420px;margin-top: 30px;"
                        clearable
                        @keyup.enter.native="handleQuery"
                >
                    <i
                            slot="suffix"
                            class="el-input__icon el-icon-search"
                            style="cursor: pointer"
                            @click="handleQuery"
                    ></i>
                </el-input>
            </div>
            <el-card class="box-card" shadow="hover" style="text-align: center;margin-top: 20px; height: 500px;overflow-y:auto">
                <el-tabs stretch>
                    <el-tab-pane label="食物">
                        <h4>推荐食物</h4>
                        <el-table
                                :data="foodData"
                                stripe
                                style="width: 100%"
                                :show-header="false"
                                highlight-current-row
                        >
                            <el-table-column
                                    align="center"
                                    width="140">
                                <template slot-scope="scope">
                                    <el-image :src="scope.row.picture"/>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="foodName"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    prop="foodCategory"
                            >
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    width="150"
                            >
                                <template slot-scope="scope">
                                    {{ scope.row.heat}}千卡/100g
                                </template>
                            </el-table-column>
                            <el-table-column
                                    align="center"

                            >
                                <template slot-scope="scope">
                                    <el-button
                                            type="text"
                                            class="blueBug"
                                            @click="fooddetail(scope.row)"
                                    >
                                        查看详情
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                small
                                layout="prev, pager, next"
                                :total="counts"
                                :current-page.sync="page"
                                :page-size="pageSize"
                                @current-change="handleCurrentChange"
                        >
                        </el-pagination>
                    </el-tab-pane>



                    <el-tab-pane label="套餐">
                        <h4>推荐套餐</h4>
                        <el-table
                                :data="dietData"
                                stripe
                                style="width: 100%"
                                :show-header="false"
                                highlight-current-row
                        >
                            <el-table-column
                                    align="center"
                                    width="140">
                                <template slot-scope="scope">
                                    <el-image :src="scope.row.cover"/>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="dietTitle"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    align="center"
                            >
                                <template slot-scope="scope">
                                    {{ String(scope.row.dietCategoryId) === '1' ? '素菜' : '肉菜' }}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    width="150"
                            >
                                <template slot-scope="scope">
                                    {{ scope.row.dietHeat}}千卡/100g
                                </template>
                            </el-table-column>
                            <el-table-column
                                    align="center"
                            >
                                <template slot-scope="scope">
                                    <el-button
                                            type="text"
                                            class="blueBug"
                                            @click="detail(scope.row)"
                                    >
                                        查看详情
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                small
                                layout="prev, pager, next"
                                :total="counts2"
                                :current-page.sync="page2"
                                :page-size="pageSize"
                                @current-change="handleCurrentChange2"
                        >
                        </el-pagination>
                    </el-tab-pane>
                </el-tabs>
            </el-card>

            <el-dialog title="食物详情" :visible.sync="ydVisible" width="35%" top="20px" :lock-scroll="false">
                <div >
                    <img :src="listinfo.picture" class="image" style="margin:20px auto;">
                    <table style="margin:0px auto;font-size: 15px;">
                        <tr>
                            <td class="tdleft">食物名称</td>
                            <td>{{listinfo.foodName}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">食物类别</td>
                            <td>{{listinfo.foodCategory}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">热量(千卡/100g)</td>
                            <td>{{listinfo.heat}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">脂肪(g/100g)</td>
                            <td>{{listinfo.fat}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">碳水化合物(g/100g)</td>
                            <td>{{listinfo.carbohydrate}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">蛋白质(g/100g)</td>
                            <td>{{listinfo.protein}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">适宜人群</td>
                            <td>{{listinfo.suitablePerson}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">饮食禁忌</td>
                            <td>{{listinfo.dietTaboo}}</td>
                        </tr>
                    </table>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="ydVisible = false">取 消</el-button>
                    <el-button type="primary" @click="ydVisible = false">确 定</el-button>
                </div>
            </el-dialog>

            <el-dialog title="套餐详情" :visible.sync="ydVisible2" width="35%" top="20px" :lock-scroll="false">
                <div >
                    <img :src="listinfo.cover" class="image" style="margin:20px auto;">
                    <table style="margin:0px auto;font-size: 15px;">
                        <tr>
                            <td class="tdleft">套餐名称</td>
                            <td>{{listinfo.dietTitle}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">套餐类别</td>
                            <td>{{ String(listinfo.dietCategoryId) === '1' ? '素菜' : '肉菜' }}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">烹饪方法</td>
                            <td>{{listinfo.cookingMethod}}</td>
                        </tr>
                        <tr>
                            <td class="tdleft">食谱热量(千卡/100g)</td>
                            <td>{{listinfo.dietHeat}}</td>
                        </tr>

                        <tr>
                            <td class="tdleft">一般价格(元)</td>
                            <td>{{listinfo.price}}</td>
                        </tr>

                        <tr>
                            <td class="tdleft">适宜人群</td>
                            <td>{{listinfo.suitablePerson}}</td>
                        </tr>

                    </table>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="ydVisible2 = false">取 消</el-button>
                    <el-button type="primary" @click="ydVisible2 = false">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </div>



</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../../public/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../public/plugins/element-ui/index.js"></script>

<script src="../../../public/plugins/axios/axios.min.js"></script>
<script src="../../../public/js/request.js"></script>
<script src="../../myapi/food.js"></script>
<script src="../../myapi/diet.js"></script>
<script src="../../myapi/sport.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                counts: 0,
                counts2: 0,
                input:'',
                circleUrl:'https://s1.ax1x.com/2023/01/28/pSUh3Js.jpg',
                page: 1,
                page2:1,
                logintype:0,
                finish:0,
                consume:0,
                pageSize:5,
                foodData:[],
                dietData:[],
                planlist:[],
                userInfo:{},
                listinfo:{},
                allheat:0,
                notwrite:false,
                year :new Date().getFullYear(),
                month :new Date().getMonth() + 1,
                day:new Date().getDate(),
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                value2: '',
                ydVisible:false,
                ydVisible2:false,
                breakfastVisible: false,
                breakfastinnerVisible: false,
                breakeditVisible:false,
                breakinsertVisible:false,
                breakfastData: [
                    {food: '食物1', intake: '100' },
                    {food: '食物2', intake: '200' },
                    {food: '食物3', intake: '300' },
                    {food: '食物4', intake: '400' },
                    {food: '食物5', intake: '500' }
                ],
                editForm: {},
                editIndex:-1,
                deleteIndex:-1,
                inputFromWidth:300,

                lunchVisible: false,
                lunchinnerVisible: false,
                luncheditVisible:false,
                lunchinsertVisible:false,

                dinnerVisible: false,
                dinnerinnerVisible: false,
                dinnereditVisible:false,
                dinnerinsertVisible:false,

                addVisible: false,
                addinnerVisible: false,
                addeditVisible:false,
                addinsertVisible:false,

            }
        },
        created(){
            this.init()
            this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
            this.userInfo2 = JSON.parse(localStorage.getItem('userInfo2'))
            if(this.userInfo2.weight>0){
                console.log(this.userInfo2.age)
                if(this.userInfo2.age>0&&this.userInfo2.weight>0&&this.userInfo2.height>0){
                    this.allheat=10*this.userInfo2.weight+6.25*this.userInfo2.height-5*age
                    if (this.userInfo.sex==0){
                        this.allheat=this.allheat+5
                    }else if(this.userInfo.sex==1){
                        this.allheat=this.allheat-161
                    }
                }else{
                    this.allheat=16*this.userInfo2.weight*2
                }
            }else {
                this.allheat=0
                this.notwrite=true
            }
            this.init2()
        },
        mounted() {
        },
        methods: {
            //主页面-打开表格页面按钮钩子
            breakfastDialog() {
                this.breakfastVisible = true
            },
            lunchDialog() {
                this.lunchVisible = true
            },
            dinnerDialog() {
                this.dinnerVisible = true
            },
            addDialog() {
                this.addVisible = true
            },
            //表格弹窗-右上方叉号钩子

            //表格弹窗-编辑按钮钩子
            editData(index,row){
                this.breakfastinnerVisible = true;
                this.breakeditVisible = true;
                let editForm = {
                    food:row.food,
                    intake:row.intake,
                }
                this.editForm = editForm
                this.editIndex = index
            },
            editData2(index,row){
                this.lunchinnerVisible = true;
                this.luncheditVisible = true;
                let editForm = {
                    food:row.food,
                    intake:row.intake,
                }
                this.editForm = editForm
                this.editIndex = index
            },
            editData3(index,row){
                this.dinnerinnerVisible = true;
                this.dinnereditVisible = true;
                let editForm = {
                    food:row.food,
                    intake:row.intake,
                }
                this.editForm = editForm
                this.editIndex = index
            },
            editData4(index,row){
                this.addinnerVisible = true;
                this.addeditVisible = true;
                let editForm = {
                    food:row.food,
                    intake:row.intake,
                }
                this.editForm = editForm
                this.editIndex = index
            },
            //表格弹窗-删除弹框-确认按钮钩子
            deleteAction(index){
                this.breakfastData.splice(index,1);
                this.$message.success('删除成功!')
            },
            deleteAction2(index){
                this.lunchData.splice(index,1);
                this.$message.success('删除成功!')
            },
            deleteAction3(index){
                this.dinnerData.splice(index,1);
                this.$message.success('删除成功!')
            },
            deleteAction4(index){
                this.addData.splice(index,1);
                this.$message.success('删除成功!')
            },
            //表格弹窗-删除弹框-取消按钮钩子
            cancel(index){
                console.log(index)
            },
            //表格弹窗-新增按钮的钩子
            showAdd(){
                this.breakfastinnerVisible = true;
                this.breakinsertVisible = true;
            },
            showAdd2(){
                this.lunchinnerVisible = true;
                this.lunchinsertVisible = true;
            },
            showAdd3(){
                this.dinnerinnerVisible = true;
                this.dinnerinsertVisible = true;
            },
            showAdd4(){
                this.addinnerVisible = true;
                this.addinsertVisible = true;
            },
            //表单弹窗-新增按钮钩子
            insertAction(){
                this.$refs["editForm"].validate((valid) =>{
                    if(valid){
                        this.breakfastData.push(this.editForm)
                        this.cancelAction()
                        this.$message.success(`新增成功!`)
                    }else{

                    }
                })

            },
            fooddetail(item){
                this.listinfo=item
                console.log(this.listinfo)
                this.ydVisible=true
            },
            detail(item){
                this.listinfo=item
                console.log(this.listinfo)
                this.ydVisible2=true
            },
            insertAction2(){
                this.$refs["editForm"].validate((valid) =>{
                    if(valid){
                        this.lunchData.push(this.editForm)
                        this.cancelAction2()
                        this.$message.success(`新增成功!`)
                    }else{

                    }
                })

            },
            insertAction3(){
                this.$refs["editForm"].validate((valid) =>{
                    if(valid){
                        this.dinnerData.push(this.editForm)
                        this.cancelAction3()
                        this.$message.success(`新增成功!`)
                    }else{

                    }
                })

            },
            insertAction4(){
                this.$refs["editForm"].validate((valid) =>{
                    if(valid){
                        this.addData.push(this.editForm)
                        this.cancelAction4()
                        this.$message.success(`新增成功!`)
                    }else{

                    }
                })

            },
            //表单弹窗-取消按钮钩子
            cancelAction(){
                this.breakinsertVisible = false
                this.breakeditVisible = false
                this.breakfastinnerVisible = false
                this.editForm = {}
                this.editIndex = -1
            },

            cancelAction2(){
                this.lunchinsertVisible = false
                this.luncheditVisible = false
                this.lunchinnerVisible = false
                this.editForm = {}
                this.editIndex = -1
            },

            cancelAction3(){
                this.dinnerinsertVisible = false
                this.dinnereditVisible = false
                this.dinnerinnerVisible = false
                this.editForm = {}
                this.editIndex = -1
            },
            cancelAction4(){
                this.addinsertVisible = false
                this.addeditVisible = false
                this.addinnerVisible = false
                this.editForm = {}
                this.editIndex = -1
            },
            //表单弹框-修改按钮钩子
            //splice(开始下标，删除个数，替换内容)
            editAction(){
                console.log(this.editForm)
                this.$refs["editForm"].validate((valid)=>{
                    if(valid){
                        let index = this.editIndex
                        this.breakfastData.splice(index,1,this.editForm)
                        this.cancelAction()
                        this.$message.success('修改成功!')
                    }
                })

            },

            editAction2(){
                console.log(this.editForm)
                this.$refs["editForm"].validate((valid)=>{
                    if(valid){
                        let index = this.editIndex
                        this.lunchData.splice(index,1,this.editForm)
                        this.cancelAction2()
                        this.$message.success('修改成功!')
                    }
                })

            },
            editAction3(){
                console.log(this.editForm)
                this.$refs["editForm"].validate((valid)=>{
                    if(valid){
                        let index = this.editIndex
                        this.dinnerData.splice(index,1,this.editForm)
                        this.cancelAction3()
                        this.$message.success('修改成功!')
                    }
                })

            },

            editAction4(){
                console.log(this.editForm)
                this.$refs["editForm"].validate((valid)=>{
                    if(valid){
                        let index = this.editIndex
                        this.addData.splice(index,1,this.editForm)
                        this.cancelAction4()
                        this.$message.success('修改成功!')
                    }
                })

            },
            async init () {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                const params2 = {
                    page: this.page2,
                    pageSize: this.pageSize,
                    name: this.input ? this.input : undefined
                }
                await getFoodList(params).then(res => {
                    if (String(res.code) === '1') {
                        this.foodData = res.data.records|| []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
                await getdietList(params2).then(res => {
                    if (String(res.code) === '1') {
                        this.dietData = res.data.records|| []
                        this.counts2 = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })


            },
            async init2 () {
                await getplanList(this.userInfo.uid,0).then(res => {
                    if (String(res.code) === '1') {
                        this.planlist=res.data
                        this.init3()
                    }else {
                        console.log("not")
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            async init3 () {
                await getheat(this.planlist).then(res => {
                    if (String(res.code) === '1') {
                        this.consume=res.data
                        if(this.notwrite){
                            this.consume=0
                        }else {
                            this.consume=this.consume*this.userInfo2.weight*2
                        }
                        this.consume=this.consume.toFixed(2)
                    }else {
                        console.log("not")
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.page2 = 1;
                this.init();
            },
            handleCurrentChange (val) {
                this.page = val
                this.init()
            },
            handleCurrentChange2 (val) {
                this.page2 = val
                this.init()
            },
            async submitex(){
            },
            goBack() {
                window.location.href='../../index.html'
            },
            format(percentage) {
                return percentage === 100 ? '今日已摄入完毕' : `${percentage}%`;
            }
        },
        destroyed(){
        }
    })
</script>
</body>
</html>
