<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../../public/styles/common2.css" />
  <link rel="stylesheet" href="../../../public/styles/page.css" />
  <style>
    #member-app  .notAdmin::after{
      border: 0 !important;
    }
    .tdleft{
      font-weight: bold;
      width: 180px;
    }
    tr{
      height: 26px;
    }
  </style>
</head>
<body>
  <div class="dashboard-container" id="member-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="input"
          placeholder="请输入员工昵称"
          style="width: 250px"
          clearable
           @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="handleQuery"
          ></i>
        </el-input>
        <el-button
          type="primary"
          @click="addMemberHandle"
        >
          + 添加员工
        </el-button>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        :cell-style="{ textAlign: 'center' }"
        :header-cell-style="{ textAlign: 'center' }"
      >
        <el-table-column
          label="EID"
        >
          <template slot-scope="scope">
            {{scope.row.eid}}
            <strong v-if="scope.row.eid==empInfo.eid">（我）</strong>
          </template>
        </el-table-column>

        <el-table-column
          prop="account"
          label="账号"
        ></el-table-column>

        <el-table-column
          prop="phone"
          label="手机号"
          width="140"
        >
        </el-table-column>

        <el-table-column
          prop="name"
          label="昵称"
        ></el-table-column>

        <el-table-column label="头像">
          <template slot-scope="scope">
            <el-popover placement="top-start" title="" trigger="hover">
              <img :src="scope.row.avatar" alt="" style="width: 200px;height: 200px;">
              <img slot="reference" :src="scope.row.avatar" style="width: 32px;height: 32px;border-radius: 50%">
            </el-popover>
            <span>{{scope.row.title}}</span>
          </template>
        </el-table-column>

        <el-table-column label="账号状态">
          <template slot-scope="scope">
            <span :style="String(scope.row.status) === '0' ? 'color:red;':'' ">
              {{ String(scope.row.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </template>
        </el-table-column>

        <el-table-column label="注册时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>

        <el-table-column label="上次登录时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>


        <el-table-column
            prop="rolenum"
            :show-overflow-tooltip="true"
            label="角色类型"
            :formatter="rolenumFormatter"
          >
        </el-table-column>

        <el-table-column
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="empdetail(scope.row)"
            >
              查看
            </el-button>
            <el-button
              type="text"
              size="small"
              :class="scope.row.status == '1' ?'delBut':'reBut'"
              @click="statusHandle(scope.row)"
              v-if="empInfo.rolenum==0 && scope.row.rolenum!=0"
            >
              {{ scope.row.status == '1' ? '封禁' : '解封' }}
            </el-button>
          </template>
        </el-table-column>

      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        :current-page.sync="page"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <el-dialog title="员工详情" :visible.sync="listVisible" width="50%" top="35px">
      <table>
        <tr>
          <td class="tdleft">EID</td>
          <td>{{listinfo.eid}}</td>
        </tr>
        <tr>
          <td class="tdleft">账号</td>
          <td>{{listinfo.account}}</td>
        </tr>
        <tr>
          <td class="tdleft">昵称</td>
          <td>{{listinfo.name}}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的手机号</td>
          <td>{{ listinfo.phone}}</td>
        </tr>
        <tr>
          <td class="tdleft">性别</td>
          <td>{{ listinfo.sex=='0'?'男':(listinfo.sex=='1'?'女':(listinfo.sex=='2'?'保密':'尚未填写')) }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号状态</td>
          <td>
            <span :style="String(listinfo.status) === '0' ? 'color:red;':'' ">
              {{ String(listinfo.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="tdleft">绑定的身份证号</td>
          <td>{{ listinfo.idNumber|| '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的微信号</td>
          <td>{{ listinfo.wxNumber|| '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号创建时间</td>
          <td>
            <template>
              <span>{{listinfo.createTime}}</span>
            </template>
          </td>
        </tr>
        <tr>
          <td class="tdleft">上次登录时间</td>
          <td>{{listinfo.updateTime}}</td>
        </tr>
      </table>
      <div slot="footer" class="dialog-footer">
        <el-button type="danger" @click="delemp(listinfo.eid)" v-if="empInfo.rolenum==0 && empInfo.eid!=listinfo.eid">删 除</el-button>
        <el-button type="primary" @click="listVisible = false">确 定</el-button>
        <el-button @click="listVisible = false">取 消</el-button>

      </div>
    </el-dialog>


<!--    添加员工-->
    <el-dialog title="添加员工" :visible.sync="addVisible" top="15px">
      <el-form ref="addform" :model="addform" :rules="registerRules">
        <el-form-item label="员工账号" :label-width="formLabelWidth" prop="account">
          <el-input v-model="addform.account" autocomplete="off" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="员工密码" :label-width="formLabelWidth" prop="password">
          <el-input show-password v-model="addform.password" autocomplete="off" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" :label-width="formLabelWidth" prop="againpassword">
          <el-input show-password v-model="addform.againpassword" autocomplete="off" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="员工昵称" :label-width="formLabelWidth" prop="name">
          <el-input v-model="addform.name" autocomplete="off" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="员工手机号" :label-width="formLabelWidth" prop="phone">
          <el-input v-model="addform.phone" autocomplete="off" style="width: 400px"></el-input>
        </el-form-item>
        <el-form-item label="员工角色" :label-width="formLabelWidth" prop="rolenum">
          <el-select v-model="addform.rolenum" placeholder="请选择员工角色">
            <el-option label="甲类员工" value="1"></el-option>
            <el-option label="乙类员工" value="2"></el-option>
            <el-option label="丙类员工" value="3"></el-option>
            <el-option label="丁类员工" value="4"></el-option>
            <el-option label="其他员工" value="5"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addemp">添 加</el-button>
        <el-button @click="addVisible = false">取 消</el-button>
      </div>
    </el-dialog>

  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../public/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../public/plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../public/plugins/axios/axios.min.js"></script>
    <script src="../../../public/js/request.js"></script>
    <script src="../../myapi/emps.js"></script>
    <script>
      new Vue({
        el: '#member-app',
        data() {
          return {
             input: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             id : '',
             status : '',
             empInfo:{},
             listinfo:{},
             listVisible:false,
             addVisible:false,
             account:'',
             name:'',
             addform:{
               account:'',
               password:'',
               againpassword:'',
               name:'',
               phone:'',
               rolenum:''
             },
            formLabelWidth: '120px'
          }
        },
        computed: {
          registerRules() {
            const validatemyaccount = (rule, value, callback) => {
              for(let i=0;i<value.length;i++){
                if(!(value.charAt(i)>='0'&&value.charAt(i)<='9'||value.charAt(i)>='a'&&value.charAt(i)<='z'||value.charAt(i)>='A'&&value.charAt(i)<='Z')){
                  callback(new Error('账号必须由字母和数字组成'))
                }
              }
              if (value.length < 6 ) {
                callback(new Error('账号长度需要设置为6-24个字符'))
              }else if(value.length > 24){
                new Error('账号长度需要设置为6-24个字符')
              } else {
                callback()
              }
            }
            const validatemypassword = (rule, value, callback) => {
              let containnum=0
              let containalp=0
              for(let i=0;i<value.length;i++){
                if(value.charAt(i)>='0'&&value.charAt(i)<='9'){
                  containnum=1
                }
                if(value.charAt(i)>='a'&&value.charAt(i)<='z'||value.charAt(i)>='A'&&value.charAt(i)<='Z'){
                  containalp=1
                }
              }
              if (value.length < 8) {
                callback(new Error('密码长度需要设置为8-16个字符'))
              }else if(value.length > 16){
                new Error('密码长度需要设置为8-16个字符')
              } else if(containalp==0||containnum==0){
                callback(new Error('密码必须包含字母和数字'))
              }else{
                callback()
              }
            }
            const validatemyagainpassword = (rule, value, callback) => {
              let containnum=0
              let containalp=0
              for(let i=0;i<value.length;i++){
                if(value.charAt(i)>='0'&&value.charAt(i)<='9'){
                  containnum=1
                }
                if(value.charAt(i)>='a'&&value.charAt(i)<='z'||value.charAt(i)>='A'&&value.charAt(i)<='Z'){
                  containalp=1
                }
              }
              if (value.length < 8) {
                callback(new Error('密码长度需要设置为8-16个字符'))
              } else if(value.length > 16){
                new Error('密码长度需要设置为8-16个字符')
              }else if(containalp==0||containnum==0){
                callback(new Error('密码必须包含字母和数字'))
              }else{
                callback()
              }
            }
            const validatemyname = (rule, value, callback) => {
              if (value.length < 1) {
                callback(new Error('请输入您设置的用户名'))
              } else if(value.length > 30){
                new Error('用户名必须设置在30个字符及以下')
              }else {
                callback()
              }
            }
            const validatePhone = (rule, value, callback) => {
              if (value.length != 11 ) {
                callback(new Error('请输入正确的手机号'))
              } else {
                callback()
              }
            }
            return {
              'account': [{ required: true,'validator': validatemyaccount, 'trigger': 'blur' }],
              'password': [{ required: true,'validator': validatemypassword, 'trigger': 'blur' }],
              'againpassword': [{ required: true,'validator': validatemyagainpassword, 'trigger': 'blur' }],
              'phone': [{ required: true,'validator': validatePhone, 'trigger': 'blur' }],
              'name': [{ required: true,'validator': validatemyname, 'trigger': 'blur' }],
              'rolenum': [{ required: true, message: '请选择员工角色', trigger: 'change' }],
            }
          }
        },
        created() {
          this.init()
          this.empInfo = JSON.parse(localStorage.getItem('empInfo'))
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined
            }
            await getEmpList(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          empdetail(st){
            this.listVisible = true;
            this.listinfo=st;
            this.listinfo.createTime=this.listinfo.createTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
            this.listinfo.updateTime=this.listinfo.updateTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
          },
           // 添加
          addMemberHandle () {
              this.addVisible=true
              console.log(this.addform)
          },
          async addemp(){
            this.$refs.addform.validate(async (valid) => {
              if (valid) {
                let res = await registerempApi(this.addform)
                if (String(res.code) === '1') {
                  this.$message({
                    type:'success',
                    message: '员工添加成功！',
                    duration: 5000,
                  })
                  this.addVisible=false
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg)
                }
              }
            })
          },
          //状态修改
          statusHandle (row) {
            this.id = row.eid
            this.account=row.account
            this.name=row.name
            this.status=row.status
            if(this.status==1){
              this.getfreeze()
            }else{
              this.delgetfreeze()
            }
          },
          getfreeze(){
            this.$confirm('确认要封禁员工 '+this.name+'（账号：'+this.account+'）吗?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              freezeemp(this.id).then(res => {
                if (String(res.code) === '1') {
                  this.$message.warning('已成功封禁该员工！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          delgetfreeze(){
            this.$confirm('确认要解封员工 '+this.name+'（账号：'+this.account+'）吗?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              delfreezeemp(this.id).then(res => {
                if (String(res.code) === '1') {
                  this.$message.success('已成功解封该员工！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          delemp(eid){
            this.$prompt('此操作将永久删除员工，请输入“YES”进行确认', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消'
            }).then(({ value }) => {
              if(value=='YES'){
                delemployee(eid).then(res => {
                  if (String(res.code) === '1') {
                    this.$message({
                      type: 'success',
                      message: '已成功删除员工！'
                    });
                    this.listVisible = false
                    this.handleQuery()
                  }
                }).catch(err => {
                  this.$message.error('请求出错了：' + err)
                })
              }else {
                this.$message({
                  type: 'error',
                  message: '输入的不是“YES”，删除失败！'
                });
              }
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已经取消删除员工！'
              });
            });
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },
          // 时间格式化
          dataFormat(value) {
            var year = value.substr(0, 4)
            var month = value.substr(5, 2)
            var day = value.substr(8, 2)
            var hour = value.substr(11, 2)
            var min = value.substr(14, 2)
            var second = value.substr(17,2)
            return year + "-" + month + "-" + day + " " + hour + ":" + min + ":"+second
          },
          rolenumFormatter(row, column){
          	const rolenum = row.rolenum
            	if (rolenum == 0) {
            	return '超级管理员'
            	} else if (rolenum == 1) {
            	return '甲类员工'
            	} else if (rolenum == 2) {
            	return '乙类员工'
            	} else if (rolenum == 3) {
          	    return '丙类员工'
            	} else {
            	return '外包员工'
            	}
          	}
        }
      })
    </script>
</body>
</html>