<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../../public/styles/common2.css" />
  <link rel="stylesheet" href="../../../public/styles/page.css" />
  <style>
    #member-app  .notAdmin::after{
      border: 0 !important;
    }
    .tdleft{
      font-weight: bold;
      width: 180px;
    }
    tr{
      height: 26px;
    }
  </style>
</head>
<body>
  <div class="dashboard-container" id="member-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="input"
          placeholder="请输入员工昵称"
          style="width: 250px"
          clearable
           @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="handleQuery"
          ></i>
        </el-input>
        <el-button
          type="primary"
          @click="addMemberHandle('add')"
        >
          员工申请信息
        </el-button>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        :cell-style="{ textAlign: 'center' }"
        :header-cell-style="{ textAlign: 'center' }"
      >
        <el-table-column
          label="EID"
        >
          <template slot-scope="scope">
            {{scope.row.eid}}
            <strong v-if="scope.row.eid==empInfo.eid">（我）</strong>
          </template>
        </el-table-column>

        <el-table-column
          prop="account"
          label="账号"
        ></el-table-column>

        <el-table-column
          prop="phone"
          label="手机号"
          width="140"
        >
        </el-table-column>

        <el-table-column
          prop="name"
          label="昵称"
        ></el-table-column>

        <el-table-column label="头像">
          <template slot-scope="scope">
            <el-popover placement="top-start" title="" trigger="hover">
              <img :src="scope.row.avatar" alt="" style="width: 200px;height: 200px;">
              <img slot="reference" :src="scope.row.avatar" style="width: 32px;height: 32px;border-radius: 50%">
            </el-popover>
            <span>{{scope.row.title}}</span>
          </template>
        </el-table-column>

        <el-table-column label="账号状态">
          <template slot-scope="scope">
            <span :style="String(scope.row.status) === '0' ? 'color:red;':'' ">
              {{ String(scope.row.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </template>
        </el-table-column>

        <el-table-column label="注册时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>

        <el-table-column label="修改时间" width="90">
          <template slot-scope="scope">
            <span>{{scope.row.updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')}}</span>
          </template>
        </el-table-column>


        <el-table-column
            prop="rolenum"
            :show-overflow-tooltip="true"
            label="角色类型"
            :formatter="rolenumFormatter"
          >
        </el-table-column>

        <el-table-column
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="empdetail(scope.row)"
            >
              查看
            </el-button>
            <el-button
              type="text"
              size="small"
              :class="scope.row.status == '1' ?'delBut':'reBut'"
              @click="statusHandle(scope.row)"
              v-if="empInfo.rolenum==0 & scope.row.rolenum!=0"
            >
              {{ scope.row.status == '1' ? '封禁' : '解封' }}
            </el-button>
          </template>
        </el-table-column>

      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        :current-page.sync="page"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <el-dialog title="员工详情" :visible.sync="listVisible" width="50%" top="15px">
      <table>
        <tr>
          <td class="tdleft">EID</td>
          <td>{{listinfo.eid}}</td>
        </tr>
        <tr>
          <td class="tdleft">账号</td>
          <td>{{listinfo.account}}</td>
        </tr>
        <tr>
          <td class="tdleft">昵称</td>
          <td>{{listinfo.name}}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的手机号</td>
          <td>{{ listinfo.phone}}</td>
        </tr>
        <tr>
          <td class="tdleft">性别</td>
          <td>{{ listinfo.sex=='0'?'男':(listinfo.sex=='1'?'女':(listinfo.sex=='2'?'保密':'尚未填写')) }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号状态</td>
          <td>
            <span :style="String(listinfo.status) === '0' ? 'color:red;':'' ">
              {{ String(listinfo.status) === '0' ? '已封禁' : '正常' }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="tdleft">绑定的身份证号</td>
          <td>{{ listinfo.idNumber|| '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">绑定的微信号</td>
          <td>{{ listinfo.wxNumber|| '尚未绑定' }}</td>
        </tr>
        <tr>
          <td class="tdleft">账号创建时间</td>
          <td>
            <template>
              <span>{{listinfo.createTime}}</span>
            </template>
          </td>
        </tr>
        <tr>
          <td class="tdleft">账号更新时间</td>
          <td>{{listinfo.updateTime}}</td>
        </tr>
      </table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="listVisible = false">取 消</el-button>
        <el-button type="primary" @click="listVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../public/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../public/plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../public/plugins/axios/axios.min.js"></script>
    <script src="../../../public/js/request.js"></script>
    <script src="../../myapi/emps.js"></script>
    <script>
      new Vue({
        el: '#member-app',
        data() {
          return {
             input: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             id : '',
             status : '',
             empInfo:{},
             listinfo:{},
             listVisible:false,
             account:'',
             name:''
          }
        },
        computed: {},
        created() {
          this.init()
          this.empInfo = JSON.parse(localStorage.getItem('empInfo'))
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined
            }
            await getEmpList(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          empdetail(st){
            this.listVisible = true;
            this.listinfo=st;
            this.listinfo.createTime=this.listinfo.createTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
            this.listinfo.updateTime=this.listinfo.updateTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
          },
           // 添加
          addMemberHandle (st) {
            if (st === 'add'){
              window.parent.menuHandle({
                id: '2',
                url: '/backend/page/member/add.html',
                name: '添加员工'
              },true)
            } else {
              window.parent.menuHandle({
                id: '2',
                url: '/backend/page/member/add.html?id='+st,
                name: '修改员工'
              },true)
            }
          },
          //状态修改
          statusHandle (row) {
            this.id = row.eid
            this.account=row.account
            this.name=row.name
            this.status=row.status
            if(this.status==1){
              this.getfreeze()
            }else{
              this.delgetfreeze()
            }
          },
          getfreeze(){
            this.$confirm('确认要封禁员工 '+this.name+'（账号：'+this.account+'）吗?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              freezeemp(this.id).then(res => {
                if (String(res.code) === '1') {
                  this.$message.warning('已成功封禁该员工！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          delgetfreeze(){
            this.$confirm('确认要解封员工 '+this.name+'（账号：'+this.account+'）吗?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              delfreezeemp(this.id).then(res => {
                if (String(res.code) === '1') {
                  this.$message.success('已成功解封该员工！')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },
          // 时间格式化
          dataFormat(value) {
            var year = value.substr(0, 4)
            var month = value.substr(5, 2)
            var day = value.substr(8, 2)
            var hour = value.substr(11, 2)
            var min = value.substr(14, 2)
            var second = value.substr(17,2)
            return year + "-" + month + "-" + day + " " + hour + ":" + min + ":"+second
          },
          rolenumFormatter(row, column){
          	const rolenum = row.rolenum
            	if (rolenum == 0) {
            	return '超级管理员'
            	} else if (rolenum == 1) {
            	return '甲类员工'
            	} else if (rolenum == 2) {
            	return '乙类员工'
            	} else if (rolenum == 3) {
          	    return '丙类员工'
            	} else {
            	return '外包员工'
            	}
          	}
        }
      })
    </script>
</body>
</html>