<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>个人中心</title>
        <link rel="shortcut icon" href="../../../public/favicon.ico">
        <link rel="stylesheet" href="../../../public/plugins/element-ui/index.css" />
        <style>
            body, html {
                overflow-x: hidden;
            } 
          .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          }
          .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
          }
          .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
          }
          .avatar {
            width: 178px;
            height: 178px;
            display: block;
          }
          .avatar-uploader{
              text-align: center;
          }
          label{
              font-weight: bold;
              font-size: 26px;
          }
          h3{
              display: inline-block;
              width: 140px;
          }
          #supervise h3{
              display: inline-block;
              width: 100px;
          }
          .myrow{
              margin-top: 10px;
          }
          .el-input__inner{
              font-size: 16px;
          }
          .el-tabs__item{
              font-size: 18px;
              font-weight: bold;

          }
          .time {
              font-size: 13px;
              color: #999;
          }

          .bottom {
              margin-top: 13px;
              line-height: 12px;
          }

          .button {
              padding: 0;
              float: right;
          }


          .clearfix:before,
          .clearfix:after {
              display: table;
              content: "";
          }

          .clearfix:after {
              clear: both
          }
          .left {

              width: 1500px;
              height: 400px;
              float: inherit;
              margin-left: 250px;
          }
            .el-form-item__label{
                font-size: 18px;
            }
          .right{
              margin-top: 80px;
              height: 400px;
          }
            .el-tabs__content{
                padding-left: 80px;
            }
           .el-tag + .el-tag {
               margin-left: 10px;
           }
          .button-new-tag {
              margin-left: 10px;
              height: 32px;
              line-height: 30px;
              padding-top: 0;
              padding-bottom: 0;
          }
          .input-new-tag {
              width: 90px;
              margin-left: 10px;
              vertical-align: bottom;
          }
          .like {
              cursor: pointer;
              font-size: 25px;
              display: inline-block;
          }
            .el-avatar{
                background:#FFFFFF;
            }
            .orig:hover{
                color: dodgerblue;
            }
        </style>
    </head>
    <body>
        <div id="app">
            
            <div class="banner" style="height: 120px; display: flex; background-image: url(../../assets/img/222.jpg);">
                <img src="../../assets/img/fitdaylogo.png" alt="" style="height:100px ;width:300px;margin:0 80px;">
                <span class="myfont" style="color: azure;
                font-size: 40px;
                line-height: 120px;
                margin-left: 100px;">吃好，练好，拥有好心态，轻装上阵！</span>
            </div>

            <div style="margin: 10px 0;font-size: 17px;margin-left: 30px;">
                <span @click="goBack" class="orig" style="font-weight: bold;cursor: pointer">首页</span>
                <span>></span>
                <span>个人中心</span>
            </div>
            
            <h1 style="text-align: center;">个人中心</h1>
            
            <div class="main" style="font-size: 18px;">
               <div class="left">
                <el-tabs tab-position="left" border-card>
                    <el-tab-pane label="基本信息" style="margin:0 20px">
                        <div class="info" style="margin:0 30px">
                            <h3>当前头像</h3>
                            <div style="display: flex;margin: 20px;">
                                <el-avatar :size="180" :src="circleUrl"></el-avatar>
                                <el-button type="success" round style="margin-left: 50px; margin-top: 100px;height: 42px;" @click="changeVisible = true">修改头像</el-button>
                            </div>
                            
                            <el-dialog
                              title="上传新头像"
                              :visible.sync="changeVisible"
                              width="30%"
                              >
                              <el-upload
                                class="avatar-uploader"
                                action="/common/upload"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload"
                              >
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                              </el-upload>

                              
                              <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="changeavatar">确 定</el-button>
                                <el-button @click="changeVisible = false">取 消</el-button>
                              </span>
                            </el-dialog>

                            <div class="myrow">
                                <h3>我的昵称</h3>
                                <el-input
                                  v-model="username"
                                  prefix-icon="el-icon-user-solid"
                                  style="width: 300px;"
                                  >
                                </el-input>
                            </div>
                            <div class="myrow">

                                <h3>我的等级</h3>
                                {{userInfo.level}}
                                <i class="el-icon-star-on" style="color:red"></i>


                                <h3 style="margin-left: 20px">我的余额</h3>
                                {{userInfo.remain}} 元
                                <i class="el-icon-wallet" style="color:navy"></i>

                            </div>
                            <div class="myrow">
                                <h3>我的电话</h3>
                                <el-input
                                  v-model="phone"
                                  prefix-icon="el-icon-user-solid"
                                  style="width: 300px;"
                                  placeholder="尚未绑定电话"
                                  >
                                </el-input>
                            </div>
                            
                            <div class="myrow">
                                <h3>我的性别</h3>
                                <el-radio-group v-model="sex">
                                    <el-radio  :label="0">男</el-radio>
                                    <el-radio  :label="1">女</el-radio>
                                    <el-radio  :label="2">保密/未知</el-radio>
                                </el-radio-group>
                            </div>
                            
                            <div class="myrow">
                                <h3>我的微信号</h3>
                                <el-input
                                  v-model="wxNumber"
                                  prefix-icon="el-icon-user-solid"
                                  style="width: 300px;"
                                  placeholder="尚未绑定微信号"
                                  >
                                </el-input>
                            </div>
                        </div>
                        <div style="margin:18px 40px;">
                            <el-button type="primary" @click="submitchange(userInfo.uid,circleUrl,username,phone,sex,wxNumber)" style="margin-left: 30px;">提交修改</el-button>
                            <el-button style="margin-left: 50px;" @click="goBack">取消</el-button>
                        </div>
                        
                    </el-tab-pane>
                    <el-tab-pane label="修改密码">
                        <el-form label-position="top" label-width="80px" :model="formLabelAlign" style="margin:0 30px;">
                          <el-form-item label="请输入原密码">
                            <el-input type="password" v-model="formLabelAlign.code" style="width: 250px;"></el-input>
                          </el-form-item>
                          <el-form-item label="请输入新密码">
                            <el-input type="password" v-model="formLabelAlign.newcode" style="width: 250px;"></el-input>
                          </el-form-item>
                          <el-form-item label="请再次输入新密码进行确认">
                            <el-input type="password" v-model="formLabelAlign.newcodeagagin" style="width: 250px;"></el-input>
                          </el-form-item>
                          <el-form-item>
                            <el-button type="primary">修改密码</el-button>
                            <el-button style="margin-left: 50px;">重置</el-button>
                          </el-form-item>
                        </el-form>
                    </el-tab-pane>
                    <el-tab-pane label="账号相关">
                        <div style="margin:0 30px;">
                            
                            <div class="myrow">
                                <h3>我的UID</h3>
                                {{userInfo.uid}}
                            </div>
                            
                            <div class="myrow">
                                <h3>我的账号</h3>
                                {{userInfo.account}}
                            </div>
                            
                            <div class="myrow">
                                <h3>绑定的手机号</h3>
                                {{userInfo.phone||'尚未绑定'}}
                            </div>
                            
                            <div class="myrow">
                                <h3>绑定的微信号</h3>
                                {{userInfo.wxNumber||'尚未绑定'}}
                            </div>
                            
                            <div class="myrow">
                                <h3>我的角色</h3>
                                {{userInfo.rolenum=='0'?'内测用户':(userInfo.rolenum=='1' ? '普通用户':(userInfo.rolenum=='2'?'健身博主':(userInfo.rolenum=='3'?'商家':'低信用用户')))}}
                            </div>
                            
                            <div class="myrow">
                                <h3>账号创建时间</h3>
                                {{userInfo.createTime}}
                            </div>

                            <div class="myrow">
                                <h3>上次登录时间</h3>
                                {{userInfo.updateTime}}
                            </div>
                            <el-button type="danger" style="margin: 20px;" @click="delmyaccount(userInfo.uid)">注销账号</el-button>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="体重监管" >
                        <el-card  style="background-color: rgba(235,238,245,0.45); margin-right: 680px">
                        <div style="margin:0 30px;" id="supervise">

                            <div class="myrow">
                                <h3>我的身高</h3>
                                <span v-if="!heightedit">{{userInfo2.height}}</span>
                                <el-input v-if="heightedit" style="width: 64px;font-size: 18px" @keyup.enter.native="changeinfo(1)" v-model="newheight"></el-input>
                                cm
                                <el-button
                                        v-if="!heightedit"
                                        size="medium"
                                        type="primary"
                                        plain
                                        @click="handleEdit(1)" style="margin-left: 10px">编辑</el-button>

                                <el-button
                                        v-if="heightedit"
                                        type="success"
                                        size="medium"
                                        plain
                                        @click="changeinfo(1)" style="margin-left: 10px">确定</el-button>

                            </div>

                            <div class="myrow">
                                <h3>最新体重</h3>
                                <span v-if="!weightedit">{{userInfo2.weight}}</span>
                                <el-input v-if="weightedit" style="width: 64px;font-size: 18px" @keyup.enter.native="changeinfo(2)" v-model="newweight"></el-input>
                                kg
                                <el-button
                                        v-if="!weightedit"
                                        size="medium"
                                        type="primary"
                                        plain
                                        @click="handleEdit(2)" style="margin-left: 10px">编辑</el-button>

                                <el-button
                                        v-if="weightedit"
                                        type="success"
                                        plain
                                        size="medium"
                                        @click="changeinfo(2)" style="margin-left: 10px">确定</el-button>

                        </div>


                            <el-dialog
                                    title="体重变化曲线"
                                    :visible.sync="dialogVisible"
                                    >

                                <span slot="footer" class="dialog-footer">
                                    <el-button @click="dialogVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                                </span>
                            </el-dialog>

                            <div class="myrow">
                                <h3>最新BMI</h3>
                                {{userInfo2.bmi.toFixed(2)}}

                                <el-progress :text-inside="true" :stroke-width="26" :stroke-length="20" :percentage="mybmi" :color="customColorMethod" :format="ss"></el-progress>
                            </div>

                            <div class="myrow">
                                <h3>基础代谢</h3>
                                {{userInfo2.wxNumber}}

                            </div>

                            <div class="myrow">
                                <h3>体重目标</h3>
                                <span v-if="!goalwedit">{{userInfo2.fatRate}}</span>
                                <el-input v-if="goalwedit" style="width: 64px;font-size: 18px" @keyup.enter.native="changeinfo(3)" v-model="newgoalweight"></el-input>
                                kg
                                <el-button
                                        v-if="!goalwedit"
                                        size="medium"
                                        type="primary"
                                        plain
                                        @click="handleEdit(3)" style="margin-left: 10px">编辑</el-button>

                                <el-button
                                        v-if="goalwedit"
                                        type="success"
                                        size="medium"
                                        plain
                                        @click="changeinfo(3)" style="margin-left: 10px">确定</el-button>
                                <h3 style="margin-left: 5px">达成时间</h3>
                                <span v-if="!goaldayedit">{{userInfo2.prepare}}</span>
                                <el-input v-if="goaldayedit" style="width: 64px;font-size: 18px" @keyup.enter.native="changeinfo(4)" v-model="newgoalday"></el-input>
                                天
                                <el-button
                                        v-if="!goaldayedit"
                                        size="medium"
                                        type="primary"
                                        plain
                                        @click="handleEdit(4)" style="margin-left: 10px">编辑</el-button>

                                <el-button
                                        v-if="goaldayedit"
                                        type="success"
                                        size="medium"
                                        plain
                                        @click="changeinfo(4)" style="margin-left: 10px">确定</el-button>
                            </div>

                            <div class="myrow">
                                <h3>热量预算</h3>
                                鉴于您需要在{{userInfo2.prepare}}天减去{{userInfo2.weight-userInfo2.fatRate}}kg，热量预算
                                <el-tag type="success">{{calres}}千卡</el-tag>
                            </div>

                        </div>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="体重变化">
                        <div>
                            <div id="mychart" style="width: 850px;height: 400px;"></div>
                                    <div style="padding: 14px;">
                                        <time class="time">{{ currentDate }}</time>
                                    </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
               </div>
            </div>
        </div>
        <div class="Snow" style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(125,137,95,0.1);
    pointer-events: none;
">
            <canvas id="Snow"></canvas>
        </div>
        <script src="../../../public/plugins/vue/mystyle.js"></script>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../../public/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../../public/plugins/element-ui/index.js"></script>
        <script src="../../../public/plugins/axios/axios.min.js"></script>
        <script src="../../../public/js/request.js"></script>
        <script src="../../../public/js/echarts.js"></script>
        <script src="../../myapi/usercenter.js"></script>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        like: true,
                        calres:0,
                        value1: 4154.564,
                        value2: 2222,
                        title: "今年的增长",
                        input: "Hello Element UI!",
                        currentDate: new Date(),
                        userInfo: {},
                        userInfo2:{},
                        changeme:[],
                        mytimes:[],
                        kgs:[],
                        username:"",
                        phone:"",
                        sex:"",
                        wxNumber:"",
                        dialogVisible: false,
                        heightedit:false,
                        newheight:'',
                        weightedit:false,
                        newweight:'',
                        goalwedit:false,
                        newgoalweight:'',
                        goaldayedit:false,
                        newgoalday:'',
                        changeVisible:false,
                        mybmi:0,
                        circleUrl:'https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png',
                        imageUrl: '',
                        formLabelAlign: {
                          username: '',
                          code: '',
                          newcode: ''
                        }
                    }
                },

                mounted() {
                  var userInfo = window.localStorage.getItem('userInfo')
                  userInfo = JSON.parse(userInfo)
                  this.userInfo=userInfo
                  this.username=userInfo.username
                  this.phone=userInfo.phone
                  this.circleUrl=userInfo.avatar
                  this.wxNumber=userInfo.wxNumber
                  this.sex=userInfo.sex
                  userInfo.createTime=userInfo.createTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
                  userInfo.updateTime=userInfo.updateTime.replace(/T/g, '  ').replace(/.[\d]{3}Z/, '  ')
                  var userInfo2 = window.localStorage.getItem('userInfo2')
                    if(userInfo2){
                        userInfo2 = JSON.parse(userInfo2)
                        this.userInfo2=userInfo2
                        this.mybmi=userInfo2.bmi
                        this.newheight=userInfo2.height
                        this.newweight=userInfo2.weight
                        this.newgoalweight=userInfo2.fatRate
                        this.newgoalday=userInfo2.prepare
                        if(userInfo.sex=='0'){
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*22.3
                        }else if(userInfo.sex=='1'){
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*21.2
                        }else {
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*22
                        }
                    }
                    this.getchangeme()
                },
                methods: {
                    myechart(){
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('mychart'));
                        // 指定图表的配置项和数据
                        var option = {
                            title: {
                                text: '体重变化记录'
                            },
                            legend: {
                                data: ['体重/kg']
                            },
                            xAxis: {
                                data: [...this.mytimes],
                                axisLabel:{
                                    rotate: 20
                                }
                            },
                            yAxis: {
                            },
                            tooltip: {
                                trigger: 'axis'   // axis   item   none三个值
                            },
                            series: [
                                {
                                    name: '体重/kg',
                                    type: 'line',
                                    // data: ["3","4","5","23","45","23","333"]
                                    data: [...this.kgs],
                                    //不知道为啥 this.sevenday最后一个数组在echart中显示不出来，只能这样做了
                                    markLine: {
                                        symbol: ['none', 'none'],//去掉箭头
                                        itemStyle: {
                                            normal: { lineStyle: { type: 'dashed', color:'red'}
                                                ,label: { show: true,color:'red',fontSize:16,formatter:`目标体重`  } }
                                        },
                                        data: [{
                                            name: '目标体重',
                                            yAxis: this.userInfo2.fatRate
                                        }]
                                    },
                                },

                            ],

                            dataZoom: [
                                {
                                    type: "slider", //隐藏或显示（true）组件
                                    show: true,
                                    showDetail: false, //是否显示detail，即拖拽时候显示详细数值信息
                                    startValue: 0,
                                    endValue: 5,
                                    filterMode: "empty",
                                    height: 8, //滚动条显示位置
                                    zoomLoxk: true, // 是否锁定选择区域（或叫做数据窗口）的大小
                                    handleSize: 3, //控制手柄的尺寸
                                    bottom: 0, // dataZoom-slider组件离容器下侧的距离
                                },
                                {
                                    //没有下面这块的话，只能拖动滚动条，鼠标滚轮在区域内不能控制外部滚动条
                                    type: "inside",
                                    zoomOnMouseWheel: false, //滚轮是否触发缩放
                                    moveOnMouseMove: true, //鼠标滚轮触发滚动
                                    moveOnMouseWheel: true,
                                },
                            ]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    },
                    mydia(){
                        this.dialogVisible = true
                        this.myechart()
                    },
                    customColorMethod(percentage) {
                        if (percentage < 18.5) {
                            return '#909399';
                        } else if (percentage < 23.9) {
                            return '#67c23a';
                        }else if (percentage < 27.9) {
                            return '#e6a23c';
                        }
                        else {
                            return '#ff0000';
                        }
                    },
                    ss(percentage) {
                        if (percentage < 18.5) {
                            return '偏瘦';
                        } else if (percentage < 23.9) {
                            return '理想';
                        }else if (percentage < 27.9) {
                            return '偏胖';
                        }
                        else {
                            return '很胖';
                        }
                    },
                    handleEdit(row) {

                        if(row==1){
                            this.heightedit=true
                        }
                        if(row==2){
                            this.weightedit=true
                        }
                        if(row==3){
                            this.goalwedit=true
                        }
                        if(row==4){
                            this.goaldayedit=true
                        }
                    },
                    async getchangeme(){
                        await getmychange(this.userInfo2.userId).then(res => {
                            if (String(res.code) === '1') {
                                this.changeme=res.data
                                console.log(this.changeme)
                                for(let i=0;i<this.changeme.length;i++){
                                    this.mytimes.push(this.changeme[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, ''))
                                    this.kgs.push(this.changeme[i].weight)
                                    this.myechart()
                                }
                            }else {
                                console.log("not")
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    },
                    async changeinfo(row){
                        if(row==1){
                            if(this.newheight==''){
                                this.$message.error('请输入正确的信息')
                            }else{
                                await questchange(this.userInfo2.userId,1,this.newheight).then(res => {
                                    if (String(res.code) === '1') {
                                        this.userInfo2=res.data
                                        this.mybmi=this.userInfo2.bmi
                                        this.$message.success("修改成功")
                                    }else {
                                        console.log("not")
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })

                            }
                            this.heightedit=false

                        }
                        if(row==2){
                            if(this.newweight==''){
                                this.$message.error('请输入正确的信息')
                            }else{
                                await questchange(this.userInfo2.userId,2,this.newweight).then(res => {
                                    if (String(res.code) === '1') {
                                        this.userInfo2=res.data
                                        this.mybmi=this.userInfo2.bmi
                                        this.$message.success("修改成功")
                                    }else {
                                        console.log("not")
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }
                            this.weightedit=false

                        }
                        if(row==3){
                            if(this.newgoalweight==''){
                                this.$message.error('请输入正确的信息')
                            }else {
                                await questchange(this.userInfo2.userId,3,this.newgoalweight).then(res => {
                                    if (String(res.code) === '1') {
                                        this.userInfo2=res.data
                                        this.$message.success("修改成功")
                                    }else {
                                        console.log("not")
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }
                            this.goalwedit=false

                        }
                        if(row==4){
                            if(this.newgoalday==''){
                                this.$message.error('请输入正确的信息')
                            }else{
                                await questchange(this.userInfo2.userId,4,this.newgoalday).then(res => {
                                    if (String(res.code) === '1') {
                                        this.userInfo2=res.data
                                        this.$message.success("修改成功")
                                    }else {
                                        console.log("not")
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }
                            this.goaldayedit=false
                        }
                        if(userInfo.sex=='0'){
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*22.3
                        }else if(userInfo.sex=='1'){
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*21.2
                        }else {
                            this.calres=(userInfo2.weight-userInfo2.fatRate)*22
                        }
                    },
                    handleDelete(index, row) {
                        console.log(index, row);
                    },
                    handleOpen(key, keyPath) {
                        console.log(key, keyPath);
                    },

                    handleClose(key, keyPath) {
                        console.log(key, keyPath);
                    },
                    handleAvatarSuccess(response, file,fileList) {
                        this.imageUrl = `/common/download?name=${response.data}`;
                        this.$forceUpdate() // 触发强制刷新
                    },
                    beforeAvatarUpload(file) {
                      const isJPEG = file.type === 'image/jpeg'
                      const isPNG = file.type === 'image/png'
                      const isJPG = file.type === 'image/jpg'
                      const isLt2M = file.size / 1024 / 1024 < 2;
                      if (!isJPG && !isPNG && !isJPEG) {
                        this.$message.error('上传图片只能是jpg，png，jpeg格式!');
                        return false
                      }
                      if (!isLt2M) {
                        this.$message.error('上传头像图片大小不能超过 2MB!');
                        return false
                      }
                      return true;
                    },
                    goBack() {
                        window.location.href='../../index.html'
                    },
                    changeavatar(){
                        this.circleUrl=this.imageUrl
                        this.changeVisible = false
                    },
                    submitchange(uid,avatar,username,phone,sex,wxNumber){
                        this.$confirm('确定提交修改吗？', '提示', {
                            'confirmButtonText': '确定',
                            'cancelButtonText': '取消',
                            'type': 'warning'
                        }).then(() => {
                            changeuserinfo(uid,avatar,username,phone,sex,wxNumber).then(res => {
                                if (String(res.code) === '1') {
                                    this.userInfo.avatar=avatar
                                    this.circleUrl=avatar
                                    this.userInfo.username=username
                                    this.username=username
                                    this.userInfo.phone=phone
                                    this.phone=phone
                                    this.userInfo.sex=sex
                                    this.sex=sex
                                    this.userInfo.wxNumber=wxNumber
                                    this.wxNumber=wxNumber
                                    localStorage.setItem('userInfo',JSON.stringify(this.userInfo))
                                    this.$message.success('已成功修改个人信息！')
                                }else{
                                    this.$message.error(res.msg)
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        })
                    },
                    delmyaccount(uid){
                        this.$prompt('账号一旦注销后将永久无法恢复，请输入“YES”进行账号注销确认！', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消'
                        }).then(({ value }) => {
                            if(value=='YES'){
                                deluser(uid).then(res => {
                                    if (String(res.code) === '1') {
                                        localStorage.removeItem('userInfo')
                                        this.$message({
                                            type: 'success',
                                            message: '已成功注销该账号！',
                                            duration: 2000,
                                            onClose:()=>{
                                                window.location.href='../../page/login/login.html'
                                            }
                                        });
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }else {
                                this.$message({
                                    type: 'error',
                                    message: '输入的不是“YES”，注销失败！'
                                });
                            }
                        }).catch(() => {
                        });
                    },
                }
            })
        </script>
    </body>
</html>
